{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<script  src="{% static 'js/player/device_mgmt_js.js' %}"></script>



<style>
tr{
  border-bottom: thin solid;
}
table.info {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  width: 100%;
}



table { 
  display: table;
  border-collapse: separate;
  border-spacing: 15px 10px;
  border-color: gray;
  font-size: 14px;

}


td.info1, th.info1 {
  border: 1px solid #dddddd;
  text-align: center;

}


</style>
</head>


{% block header %} {% include 'header.html' %} {% endblock %}



{% block body %}
<body>

<script src="{% static 'jquery/1.12.4/jquery.min.js' %}"></script>


<style>


.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}
a.btn:active{
    background:green;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 95px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

</style>

<br /><br /><br /> <br />
 
 {% if res.statusCode == 0 %}

<div class="container" style="overflow-x: auto;">
  <table class="testTable table table-hover" id="reports_table">
  	<tr style="background: cornflowerblue;color: white;">
      <th class="info1" style="text-align:center">Device Name</th>
      <th class="info1" style="text-align:center">License</th> 
      <th class="info1" style="text-align:center">Last Active</th>
      <th class="info1" style="text-align:center">Campaign</th>
      <!--<th class="info1" style="text-align:center">Rules</th>
      <th class="info1" style="text-align:center">Power</th>-->
    </tr>
   {% for metrics in res.metrics %}
    <tr>
      <td class="info1" style="color:dodgerblue;font-weight: bold" id="{{ metrics.player__id }}_player_name">{{ metrics.player__name }} </td>
      <td class="info1" >Approved</td>
      <td class="info1" >{{ metrics.accessed_at}}</td>
      <td class="info1" style="cursor:pointer;color:#5D8AA8;" onclick='getCampaignInfo({{ metrics.player__id }});' ><u style="text-decoration-line:none;">Select</u></td> 
     <!-- <td class="info1" style="cursor:pointer;color:#5D8AA8"><u>Edit</u></td>
      <td class="info" style="cursor:pointer;color:#5D8AA8"><u>Schedule</u></td> -->
    </tr>
    
   {% endfor %}
  </table>
</div>
   
{% else %}
   <h1 align="center">{{ res.status}} </h1>
{% endif %}

{% include 'campaign/list_mycampaigns_cb.html' %}

 <!-- div to display campaigns   -->
    <!-- The Modal -->
  <div class="modal" id="campaigns_info" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
         <p id="campaigns_info_player" style="color:#4CAF50;text-align: center;font-weight: 700;font-size:26px;">Player</p>
      
          </div>
         <!--  </div> 
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <input type="hidden" id="player_campaign_info_id" />
          <div id="campaigns_info">
            <button type="button" style="float: right;" class="btn-green " onclick="displayCampaignsToAdd()">Assign New </button> 
            <h4 style="color:cornflowerblue;display:inline-block"> Assigned Campaigns</h4>           
            <div id="player_info_campaigns">
            </div>
          </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer"><center>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id
          ="player_campaign_info_close" onclick="closePlayerCampaignInfo()">Close</button></center>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Schedule campaign [++] -->
    <div class="modal" id="scheduleCampaign" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
         <p id="campaigns_info_player" style="color:#4CAF50;text-align: center;font-weight: 700;font-size:26px;">Schedule Event</p>

          </div>
         <!--  </div> 
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body">
<script src="{% static 'jquery/1.12.4/jquery.min.js' %}"></script>
<script src="{% static 'jquery/2.15.1/moment.min.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.3.7/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'twitter-bootstrap/3.3.7/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}">



      <!-- <div class="form-group"> -->
         <label>DAYPARTING</label>
         <select name="Item_1" class="form-control" id="selectBox" onchange="changeFunc();">
          <option value='Always'>Always</option>    
          <option value='Custom'>Custom</option>     
       </select>
<br/>
<div id ="custums" style="display: none;">
       <label>FROM</label>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" id="from_date"/>
          <span class="input-group-addon" >
            <span class="fa fa-calendar" id="get_date"></span>
          </span>
        </div>
      </div>

          <label>TO</label>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker3'>
          <input type='text' class="form-control" id="to_date" />
          <span class="input-group-addon">
            <span class="fa fa-calendar" id="set_date"></span>
          </span>
        </div>
      </div>
    </div>

<script type="text/javascript">
  function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    if(selectedValue=="Custom"){
       document.getElementById("custums").style.display="block";
    }else{
      document.getElementById("custums").style.display="none";
    }
   }

  $(document).ready(function() {
    $("#get_date").trigger('click');
    $("#get_date").trigger('click');
    //$("#set_date").trigger('click');
   //$("#set_date").trigger('click');
});

window.onload=formatDate();

function formatDate() {

    var d = new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

  var curr_date = [year, month, day].join('-');
  var hours = d.getHours();
  var minutes = d.getMinutes() + 15;
  var seconds = d.getSeconds();
   if (hours.toString().length == 1) {
      hours = "0"+hours;
   }
   if (minutes.toString().length == 1) {
      minutes = "0"+minutes;
   }
   if (seconds.toString().length == 1) {
      seconds = "0"+seconds;
   }
  var time = d.getHours() + ":" + (d.getMinutes() + 15)+ ":" + d.getSeconds();
  document.getElementById('to_date').value=curr_date+' '+time;
}

    $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
  });
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
  });


</script>
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer"><center>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id
          ="player_campaign_info_close" onclick="closeScheduleCampaignInfo()">Close</button>
          <button type="button" class="btn btn-success" onclick="exportScheduleReports()">Save</button>
       </center>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Schedule campign [--] -->
 
 <script>
  csrf_token = "{{ csrf_token }}"
 </script>
{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
  <script type="text/javascript">
$(document).ready(function(){
$('#device').addClass('active');
    });
  </script>
</body>