Django==1.11.13
AST==0.0.2
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
django-cleanup==3.0.1
djangorestframework==3.8.2
idna==2.7
numpy==1.15.0
opencv-python==3.4.2.17
pandas==0.23.4
python-dateutil==2.7.5
pytube==9.2.2
pytz==2018.4
requests==2.19.1
simplejson==3.16.0
six==1.11.0
urllib3==1.23
uuid==1.30
youtube-dl==2018.7.29
xlsxwriter