.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #000;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* inderteminate progress bar styles
  */
  /* Progress Bar */
.progress {
  position: relative;
  height: 2px; /* initial 4px*/
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; }