{% load static %}
<html>
<body>
  <!--alert style-->
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.js' %}"></script>
  <!-- div to display group info -->
    <!-- The Modal -->
  <div class="modal" id="lmcb_contents">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"><center>
          <h4 class="modal-title" >Content</h4></center>
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div id="lmcb_content_list" class="table-responsive" style="overflow-x: auto;">
          </div>
          <table id="content_pagination_table" />
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
          <button type="button" class="btn btn-success" data-dismiss="modal" id
          ="lmcontent_success" onclick="sendLMCBselectedContent()">Submit</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal" id
          ="lmcontent_close" onclick="closeLmcbContent()">Close</button>
          </center>
        </div>
        
      </div>
    </div>
  </div>

<script>
  var lmcbselectedContents=[];
  var contentType="all"
  function lmcbListContents(cType)
  { 
    contentType = cType;
    lmcbGetContent(1,cType);
  }

  function lmcbGetContent(pageNumber=1,cType)
  {
    try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/content/mycontent_api/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
            secretKey: 'web',
            pageNumber:pageNumber,
            type:cType,
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
        
        console.log(JSON.stringify(data));
        if(data['statusCode']==0)
        {
             
            lmcbDisplayContent(data['content'],data['paginationPages']);
            
        }
       else
       {

             swal(data['status']);
                                    
       }


       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      console.log(jqXHR.responseText);

      swal(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
      swal(Exception.message);
    }
}

function lmcbDisplayContent(contentList,paginationPages)
{
    lmcbselectedContent = [];

    var dvTable = document.getElementById("lmcb_content_list");

    if(contentList.length>=0)
    {
            //Create a HTML Table element.
        var table = document.createElement("TABLE");
        table.width = "100%";
       
        //Get the count of columns.
        var columnCount = 1;
     
        //Add the header row.
       // var row = table.insertRow(-1);

        for (var i = 0; i < contentList.length; i++) 
        {
             row = table.insertRow(-1);
             row.style.height = "25px";
             for (var j = 0; j < columnCount; j++) 
             {

              var cell = row.insertCell(-1);
              /*cell.innerHTML = campaigns[i]['campaign_name'];*/
              var content = contentList[i];
              console.log("file name"+content['file_name']);
              contentId = content['id'];
              cell.innerHTML = "<input type='checkbox'  name='name1' onchange='lmcbContentOnchange(this,"+contentId+")'/>";
              
              var cell = row.insertCell(-1);
            
            cell.innerHTML = "<a target='_blank' href='/content/preview/"+contentId+"' >"+content['description']+"</a>"
              
              detailsRow = table.insertRow(-1);
              contentFileName = content['file_name'];
              contentFileName =contentFileName.split(' ').join('+');
              console.log(contentFileName);
              var cell = detailsRow.insertCell(-1);
              cell.innerHTML = "<input type='hidden' value="+content['file_path']+" id='content_file_path_"+contentId+"' />"
              
              var cell = detailsRow.insertCell(-1);
              cell.innerHTML = "<input type='hidden' value="+contentFileName+" id='content_file_name_"+contentId+"' />"

              var cell = detailsRow.insertCell(-1);
              cell.innerHTML = "<input type='hidden' value="+content['store_location']+" id='content_store_location_"+contentId+"'/>"
             
             }
        }
 
         
         dvTable.innerHTML = "";
         dvTable.appendChild(table);

         //check and display pagination
         if(paginationPages.length >=1)
         {
            var paginationTable = document.getElementById("content_pagination_table");
            var paginationRow = paginationTable.insertRow(-1);
            for(var i=0;i<paginationPages.length;i++)
            {
              var paginationCell = paginationRow.insertCell(-1);
              paginationCell.innerHTML = "<input type='text' value="+paginationPages[i]+" onclick='nextPageValues("+paginationPages[i]+")' style='cursor:pointer' />";
            }

         }
    }else
    {
      //no members
      dvTable.innerHTML = "No Content";
    }

    var modal = document.getElementById('lmcb_contents');
    modal.style.display = "block";
  }

  function closeLmcbContent()
  {
    document.getElementById('lmcb_contents').style.display = "none";
  }

  function lmcbContentOnchange(cb,contentId)
  {
     if(cb.checked==true)
     {
      //get store location
      var storeLocation = document.getElementById('content_store_location_'+contentId).value;
      var filePath = document.getElementById('content_file_path_'+contentId).value;
      var fileName=document.getElementById('content_file_name_'+contentId).value;
      console.log("File path is"+filePath);
      closeLmcbContent();
      if(contentType=='image')
      {
        onSelectImgRegFromLibrary(filePath,storeLocation,fileName);
      }else if(contentType=='video')
      {
        onSelectVideoRegFromLibrary(filePath,storeLocation,fileName);
      }else if(contentType=='pdf')
      {
        onSelectPdfRegFromLibrary(filePath,storeLocation,fileName);

      }else if(contentType=="excel")
      {
        onSelectExcelRegFromLibrary(filePath,storeLocation,fileName);
      }

     }
  }

  function nextPageValues(pageNumber)
  {
     console.log("pageNumber"+pageNumber+"contentType"+contentType);
     document.getElementById("lmcb_content_list").innerHTML = "";
     document.getElementById("content_pagination_table").innerHTML = "";
     lmcbGetContent(pageNumber,contentType);
  }
</script>

</body>
</html>
