{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script>
  function isMobileBrowser()
  {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
  }
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create campaign</title>
   
	<script Language='Javascript' src="{% static 'js/campaign/create_campaign_templates.js' %}"></script>
  <script Language='Javascript' src="{% static 'js/jscolor.js' %}"></script>
  <script src="/testJS.js"> </script>
	
  <script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

  <script  src="{% static 'js/default_busy_loader.js' %}"></script>

 <script type="text/javascript" src="{%static 'js/downloadMedia.js'%}"></script>

 <script  src="{% static 'scripts/html2canvas.js' %}"></script>

  <!--alert style-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <script src="{% static 'js/sweetalert.js' %}"></script>

  <style>
/*table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}*/


/*td:nth-child(even){background-color: #f2f2f2}*/


</style>

<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.generic {border: groove;} 

.create_button,.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

#custom {
    width:800px;
    height:450px;
    border: 0px solid transparent;
    background-color: #aef1ff;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;

   
}

.resize_custom_div {
    background-color: #727272;
    width: 10px;
    height: 10px;
    cursor: se-resize;
    position:absolute;
    right: 0px;
    bottom: 0px;
    
    
}
 

.custom_region_options {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 5px;
  left: 5px;
}


textarea {
  resize: none;
}


/*+ -*/
/* -- quantity box -- */

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 15px 8px;
 height: 39px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

/*clear*/
.text-input-wrapper {
  border:1px solid;
  padding:1px 6px 1px 1px;
  display:inline-block;
}
.text-input-wrapper input {
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
  font:inherit;
}
.text-input-wrapper span {
  cursor:pointer;
  color:blue;
  font-weight:bold;
  visibility:hidden;
}


@media (min-width: 992px)
{
 .col-md-16.rows.col-md-2 {
    width: 13.66666667%;
}
 
}


.slidecontainer {
  width: 50%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 13px;
  border-radius: 5px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

</style>
</head>
{% block body %}
<body>
	{% include 'campaign/create_campaign_templates.html' %}

  {% include 'campaign/upload.html' %}
<div style="margin-top: 5px;"></div>
  <button class="btn btn-warning" id="button1" class="button1" style="float:left;display:none;" onclick="window.location='/campaigns/create/'">Back</button>
  <button class="btn btn-success" id="create_button" class="create_button" style="float:right;display:none" onclick="displayCreateCampaignDialog()">Next</button>

  <h4 id="info_title" class="modal-title" style="text-align:center;color:#5FCF80;"></h4>

  
  <div style="position:fixed;top:50px;left:0px" id="parent_div" >
  </div>

	<!-- select option -->
 

  <!-- The Multi region Modal -->
<div class="container" style="padding-top: 5px; ">
 <div class="modal" style="padding-top: 5px; " id="selectoption">
    <div class="modal-dialog">
      <div class="modal-content"> 
      
        <!-- Modal Header -->
        <div class="modal-header"> 
          <h4 class="modal-title" style="text-align:center;color:#5FCF80;"> Select Content Type
          </h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

     <div class="col-md-16 col-xs-16" style="text-align: center;">
      <div class="rows">
        
        <div class="col-md-3 col-xs-3" style="margin: 5px 0px;">
           <input type="file" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgRegionOptions();">
                <p align="center">Image</p>
        </div>
        <div class="col-md-3 col-xs-3" style="margin: 5px 0px;">
            <input type="file" accept="video/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectVideoReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_video_yellow.png" %}' onclick="selectVideoRegionOptions();" style='cursor:pointer'>
                <p align="center">Video</p>
        </div>

          <div class="col-md-3 col-xs-3" style="margin: 5px 0px;" id = "display_create_table_region_div">
         <b class="td" id="display_create_table_region" onclick="displayCreateTableRegion()" style="display:inline;padding: 0px;"> <img src='{% static "images/campaign/mobile/ic_table.png" %}' onclick="displayCreateTableRegion();" style='cursor:pointer;'></b>
                <p align="center">Table</p>
        </div>

     
        <div class="col-md-3 col-xs-3" style="margin: 5px 0px;">
          <i class="td" onclick="displayCreateTextRegion()"> <img src='{% static "images/campaign/mobile/ic_text_yellow.png" %}' onclick="displayCreateTextRegion();" style='cursor:pointer'></i>
                <p align="center">Text</p>
        </div>
      </div>
     </div>


     <div class="col-md-16 col-xs-16" style="text-align: center;">
      <div class="rows">
       <div class="col-md-3 col-xs-3" style="margin: 5px 0px;">
          <img src='{% static "images/campaign/mobile/ic_url.png" %}' onclick="displayCreateURLDialog();" style='cursor:pointer'>
               <p align="center">URL</p>
        </div>

        <div  class="col-md-3 col-xs-3" style="margin: 5px 0px;">
            <input type="file" accept="application/pdf" name="Pdf File" id="select_pdf_file_type" style="display:none" onchange="onSelectPDFReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_pdf_file.png" %}' onclick="selectPdfRegionOptions();" style='cursor:pointer'>
                <p align="center">File</p>
        </div>
         <div  class="col-md-3 col-xs-3" style="margin: 5px 0px;">
            <input type="file" accept="application/vnd.ms-excel"  
            name="Excel File" id="select_excel_file_type" style="display:none" onchange="onSelectExcelReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_excel.png" %}' onclick="selectExcelRegionOptions();" style='cursor:pointer'>
                <p align="center">Excel</p>
        </div>
     </div>
   </div>

<div class="col-md-12 col-xs-12">
      <div class="rows">
        <br/>
          <center>
          <button  class="btn btn-danger" data-dismiss="modal" onclick="dismissSelectRegOption();">Close</button>
     </center>
   </div>
 </div>


        </div>
        
      </div>
    </div> 
  </div>
</div>
<!-- select option -->

<!-- select option -->
  <div class="modal" id="selectoption_mobile">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;color:#5FCF80;">  Select Content Type.
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissSelectRegOption();">&times;</span> --></h4>

          <input type="hidden" id="select_media_reg_id">

        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
          <div style="overflow-x:auto;">
          <table class="table" cellspacing="10">
 
            <tr>
              <td class="td">
                <input type="file" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgRegion();">
                <p align="center">Image</p>
              </td>
              <td class="td">
                <input type="file" accept="video/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectVideoReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_video_yellow.png" %}' onclick="selectVideoRegion();" style='cursor:pointer'>
                <p align="center">Video</p>
              </td>

               <td class="td" id="display_create_table_region" onclick="displayCreateTableRegion()"> <img src='{% static "images/campaign/mobile/ic_table.png" %}' onclick="displayCreateTableRegion();" style='cursor:pointer'>
                <p align="center">Table</p></td>
             
           </tr>
           <tr>
               <td class="td"><img src='{% static "images/campaign/mobile/ic_text_yellow.png" %}' onclick="displayCreateTextRegion();" style='cursor:pointer'>
               <p align="center">Text</p></td>
           

              <td class="td"><img src='{% static "images/campaign/mobile/ic_url.png" %}' onclick="displayCreateURLDialog();" style='cursor:pointer'>
               <p align="center">URL</p>
             </td>


                 <td style="visibility:hidden;" class="td">
                <input type="file" accept="application/pdf" name="input-file-preview" id="select_pdf_file_type" style="display:none" onchange="onSelectPDFReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_pdf_file.png" %}' onclick="selectPdfRegion();" style='cursor:pointer'>
                <p align="center">File</p>
              </td>
            </tr>
           
        </table>
      </div>
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
      <button  class="btn btn-danger" data-dismiss="modal" onclick="dismissSelectRegOption();">Close</button>
      <!--  <button type="button" class="btn btn-success" onclick="">Submit</button> -->
       </center>
        </div>
        
      </div>
    </div>
  </div>
<!-- select option mobile-->


<!-- video properties dialog -->
 <div class="modal" id="video_properties_diag" style="overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Video Properties
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;text-align: center;">
     
               <div style="text-align: center;" class="form-group">
                   <label  style="font-weight:bold">Volume :<span id="volume"></span></label>
                  <div class="slidecontainer">
               <input  type="range" min="1" max="100" value="100"
                class="slider" id="volume_range">
                </div> 
                 Video Stretch to Full Screen<input style="margin-top: 10px;" type="checkbox" id="is_stretch" checked> 
                </div>
                <br/>

                 <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="video_play_duration" size="100"> <br />
                 <br>

        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissVideoPropertiesDialog()">Cancel</button>       
                  <button class="btn btn-success" id="submit" onclick="setVideoProperties();">Proceed</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>

<!-- end of video properties dialog -->

<!-- Text -->
  <div class="modal " id="create_text_modal" style="padding-top:0px;overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Text
          <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateTextRegion();">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
        <div>
          <label style="font-weight:bold">Rich Text : *</label><br>
          <textarea rows="4"  placeholder="Enter text here" name="media_name" id="create_text_media_name" style="width: 100%;"></textarea> 

          <label style="font-weight:bold" for="exampleInputPassword2">Text Size :</label>
              <div class="quantity buttons_added">
          <input type="button" value="-" class="minus"><input type="number" step="2" min="20" max="" name="quantity font_size" value="40" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" id="create_text_media_text_size" style="width:75%;"><input type="button" value="+" class="plus">
          </div>
       <!--      <input type="number"  placeholder="Enter Font Size" name="font_size" id="create_text_media_text_size" value=40 style="width: 100%;"/>  --> 

            <label style="font-weight:bold;" for="exampleInputEmail1">Text Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="0000FF" id="create_txt_media_txt_color"> 
            
            <label style="font-weight:bold" for="exampleInputEmail1">Text Background Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="F6EDED" id="create_txt_media_txt_bg">

             <label style="font-weight:bold;" for="exampleInputEmail1">Text Alignment : *</label>
              <select class="form-control" id="create_txt_media_txt_algmt">
                  <option value="3">LEFT</option>
                  <option value="5">RIGHT</option>
                  <option value="17">CENTER</option>
                  <option value="48">TOP</option>
                  <option value="80">BOTTOM</option>
                  <option value="1">CENTER_VERTICAL</option>
                  <option value="16">CENTER_HORIZONTAL</option>
              </select>

            <input type="checkbox" id="create_txt_media_txt_bold">Bold
            <input type="checkbox" id="create_txt_media_txt_italic"> Italic
            <input type="checkbox" id="create_txt_media_txt_underline" > Under line 

            <input type="checkbox" checked=true id="create_txt_media_scroll_anim" > Scroll Animation

            <br />
            <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="text_play_duration" size="100"> 


        </div>
     

        </div>

  

        <div class="modal-footer" style="padding: 0px;">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateTextRegion();">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="onSelectTxtReg();">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- Text -->


<!-- Text -->
  <div class="modal" id="create_ticker_text_modal" style="padding-top:0px;overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Text
          </h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
        <div>
          <label style="font-weight:bold">Rich Text : *</label><br>
            <textarea rows="4"  placeholder="Enter text here" name="media_name" id="create_ticker_text_media_name" style="width: 100%;"></textarea> <br>

         
       <!--      <input type="number"  placeholder="Enter Font Size" name="font_size" id="create_text_media_text_size" value=40 style="width: 100%;"/>  --> <br>

            <label style="font-weight:bold;" for="exampleInputEmail1">Text Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="0000FF" id="create_ticker_txt_media_txt_color"> 
            
            <label style="font-weight:bold" for="exampleInputEmail1">Text Background Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="F6EDED" id="create_ticker_txt_media_txt_bg">

              

            <input type="checkbox" id="create_ticker_txt_media_txt_bold">Bold
            <input type="checkbox" id="create_ticker_txt_media_txt_italic"> Italic
            

        </div>
     

        </div>

  

        <div class="modal-footer">
        <center>     
                       <button class="btn btn-warning" id="close" onclick="window.location='/campaigns/create/'">Back</button> 
                  <button class="btn btn-success" id="submit" onclick="displayCreateCampaignDialog();">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- Text -->

<!-- URL-->
  <div class="modal" id="create_url_reg_dialog" style="overflow-y: auto;" >
    <div class="modal-dialog ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">URL
          <span type="button" class="close" data-dismiss="modal" onclick="dimissCreateURLDialog()">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
              <div >
                <label for="exampleInputEmail1" style="font-weight:bold" >URL : *</label>

              <!--   <input type="text" size="100" value="https://www." name="url" id="create_url_reg_url" focus style="width: 100%;"> <br> -->
                <form id="search-form">
                  <span class="text-input-wrapper" style="width: 100%;"><input type="text" name="url" autocomplete="off" size="140" id="create_url_reg_url" style="width:95%;"/><span title="Clear">&times;</span></span>
                  <!-- <input type="submit" value="Submit"/> -->
              </form>
                <span>Enter url address like https://www.xyz.com</span><br>
              </div>

               <br />
            <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="url_play_duration" size="100"> 
                 <br/>


    
        </div>

        <div class="modal-footer">
        <center>     
                   <button class="btn btn-danger" data-dismiss="modal" onclick="dimissCreateURLDialog()">Close</button>   
                  <button class="btn btn-success" id="submit" onclick="onSelectUrlReg()">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- URL -->


<!-- RSS-->
  <div class="modal " id="create_rss_reg_dialog" style="padding-top:0px;overflow: auto;" >
    <div class="modal-dialog ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">RSS Feeds
          <span type="button" class="close" data-dismiss="modal" onclick="dimissCreateRSSDialog()">&times;</span></h4>
        </div>
         <input type="hidden" id="rss_media_reg_id">
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
              <div >
                <label for="exampleInputEmail1" style="font-weight:bold" >Feed URL : *</label>

              <!--   <input type="text" size="100" value="https://www." name="url" id="create_url_reg_url" focus style="width: 100%;"> <br> -->
                <form id="search-form">
                  <span class="text-input-wrapper" style="width: 100%;"><input type="text" name="url" autocomplete="off" placeholder="Enter feed url" size="140" id="create_rss_reg_url" style="width:95%;"/><span title="Clear">&times;</span></span>
                  <!-- <input type="submit" value="Submit"/> -->
              </form>
                <span>Enter feeds url address like https://www.xyz.com</span>
                <br/>
                 <br/>
                 <label style="font-weight:bold">Feed's Refresh Interval(minutes):</label>
                              <input type="number" class="form-control" value="1" placeholder="Enter interval(minutes)" name="duration" id="refresh_interval" size="100"> <br />

         <label style="font-weight:bold;" for="exampleInputEmail1">Feed's Text Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="000000" id="rss_feed_text_color">


          <label style="font-weight:bold" for="exampleInputEmail1">Text Background Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="FFFFFF" id="rss_feed_text_bg_color">
        
                <label style="font-weight:bold" for="exampleInputPassword2">Feed's Text Size :</label>
              <div class="quantity buttons_added">
          <input type="button" value="-" class="minus"><input  type="number" step="2" min="15" max="" name="quantity font_size" value="15" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" id="rss_feed_text_size" style="width:75%;"><input type="button" value="+" class="plus">
          </div>
     
        </div>
        </div>

        <div class="modal-footer">
        <center>     
                   <button class="btn btn-danger" data-dismiss="modal" onclick="dimissCreateRSSDialog()">Close</button>   
                  <button class="btn btn-success" id="submit" onclick="onSelectRssReg()">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- RSS -->

<!-- Table -->
  <div class="modal" id="create_table_reg_dialog" style="z-index:1600;overflow-y: auto;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Table
          <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateTableRegion()">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
              <div >
                <label  style="font-weight:bold" >Rows : *</label>

                <input type="number" size="100" value="2" name="url" id="create_table_reg_rows" focus> <br>
                
                <label  style="font-weight:bold" >Coloumns : *</label>

                <input type="number" size="100" value="2" name="url" id="create_table_reg_coloumns" > <br>

                <br>
              </div>

    
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateTableRegion();">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="onSelectTableReg()">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- Table -->

<!-- campaign info dialog -->
  <div class="modal" id="campaign_info_diag" style="overflow:auto;padding-top:10px;overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Campaign
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">

          <!-- <form class="feedback" name="feedback"> -->
    
               <div class="form-group">
                  <label for="exampleInputPassword1" style="font-weight:bold">Campaign Name : *</label>
                  <input type="text" class="form-control" placeholder="Enter Campaign Name" name="media_name" id="file_media_name" size="100" style="width: 100%;">  
                  <input type="checkbox" onchange="setDefaultCampaignName(this);">Set Default Campaign Name   


                </div>

             
              <br>
              <div id="camp_duration" class="col-md-6" style="padding-left:0px;padding-right:0px;">
                 <div  class="form-group">
                    <label style="font-weight:bold">Campaign Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="file_duration" size="100"> <br />

                    <input type="checkbox" id="create_txt_media_hide_ticker">Hide Ticker Text 
                  </div> 
                   </div>
            <br>

            <div class="col-md-6" style="padding-left:0px;padding-right:0px;">
                 <div class="form-group">
                     
                  </div> 
            </div>
             

            <br>

     
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateCampaignDialog()">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="createCampaign();">Save</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- SEND-->

<!-- pdf/file info dialog -->
 <div class="modal" id="file_properties_diag" style="overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">File Properties Dialog
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;text-align: center;">
     
                <div class="col-md-12">

          <!-- <form class="feedback" name="feedback"> -->
    
               <div class="form-group">
                  <label for="exampleInputPassword1" style="font-weight:bold">Scrolling Speed(Sec) :</label>
                  <input style="text-align: center;" type="text" class="form-control" placeholder="Enter scrolling speed" value="10" name="scrolling_speed" id="scrolling_speed" size="100" style="width: 50%;">  
                  <label for="exampleInputPassword1" style="font-weight:bold">Zoom Level :</label>
                  <input style="text-align: center;"  type="text" class="form-control" placeholder="Enter zoom level" value="1.0" name="zoom_level" id="zoom_level" size="4" style="width: 50%;"> 
                  <input type="checkbox" id="fit_to_screen" checked>Fit to Screen

                  <br/>
                     <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="pdf_play_duration" size="100"> 
                 <br/>

                </div>
                <br>

          </div>
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissPdfPropertiesDialog()">Cancel</button>       
                  <button class="btn btn-success" id="submit" onclick="setFileProperties();">Proceed</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>

<!-- end of pdf info dialog -->



<!-- excel info dialog -->
 <div class="modal" id="excel_properties_diag" style="overflow-y: auto;" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Properties Dialog
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;text-align: center;">
     
                <div class="col-md-12">

          <!-- <form class="feedback" name="feedback"> -->
    
               <div class="form-group">
                  <br/>
                     <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="excel_play_duration" size="100"> 
                 <br/>

                </div>
                <br>

          </div>
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissExcelPropertiesDialog()">Cancel</button>       
                  <button class="btn btn-success" id="submit" onclick="setExcelProperties();">Proceed</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>

<!-- end of excel info dialog -->


<!-- image scale type info dialog -->
 <div class="modal"  id="image_properties_diag" style="overflow-y: auto;">
    <div class="modal-dialog"  >
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Choose Image Properties
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;text-align: center;">
     
                <div class="col-md-12">

          <!-- <form class="feedback" name="feedback"> -->
    
               <div class="form-group">
                  <label style="font-weight:bold">Scale Type :</label>
                       
              <select class="form-control" id="scale_type">
                  <option deafult value="fillScreen">fillScreen</option>
                  <option value="optionalCenterCrop">optionalCenterCrop</option>
              <option value="optionalCenterInside">optionalCenterInside</option>
                  <option value="optionalFitCenter">optionalFitCenter</option>
                  <option value="optionalCircleCrop">optionalCircleCrop</option>
                  <option value="centerCrop">centerCrop</option>
                  <option value="centerInside">centerInside</option>
                   <option value="fitCenter">fitCenter</option>
                   <option value="circleCrop">circleCrop</option>
              </select>
                </div>
              
                 <label style="font-weight:bold">Media Play Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="img_play_duration" size="100"> <br />
                 <br>

          </div>
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissImgScaleTypeDialog()">Cancel</button>       
                  <button class="btn btn-success" id="submit" onclick="setImgScaleTypeProperty();">Proceed</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>

 <div class="modal" style="padding-top: 5px; " id="chose_img_option">
    <div class="modal-dialog">
      <div class="modal-content"> 
      
        <!-- Modal Header -->
        <div class="modal-header"> 
          <h4 class="modal-title" style="text-align:center;color:#5FCF80;">  Choose From
          </h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

     <div class="col-md-16 col-xs-16" style="text-align: center;">
      <div class="rows">
        <div class="col-md-6 col-xs-6" style="margin: 5px 0px;display:none" id="select_img_file_type_div">
        <div class="col-md-3 col-xs-3"  id="select_i">
           <input type="file" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgRegion();">
                <p align="center">Gallery</p>
        </div>

        <div class="col-md-3 col-xs-3" >
           <input type="hidden" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
            <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgFromMedia();">
            <p align="center">Library</p>
        </div>
        </div>
         <div class="col-md-6 col-xs-6" style="margin: 5px 0px;display:none" id="select_video_file_type_div">
           <div class="col-md-3 col-xs-3" style="margin: 5px 0px;">
            <input type="file" accept="video/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectVideoReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_video_yellow.png" %}' onclick="selectVideoRegion();" style='cursor:pointer'>
                <p align="center">Video</p>
            </div>

           <div class="col-md-3 col-xs-3" >
            <input type="hidden" accept="image/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
            <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgFromMedia('video');">
            <p align="center">Library</p>
           </div>
         </div>
         <div class="col-md-6 col-xs-6" style="margin: 5px 0px;display:none" id="select_pdf_file_type_div">
           <div  class="col-md-3 col-xs-3" style="margin: 5px 0px;">
            <input type="file" accept="application/pdf" name="Pdf File" id="select_pdf_file_type" style="display:none" onchange="onSelectPDFReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_pdf_file.png" %}' onclick="selectPdfRegion();" style='cursor:pointer'>
                <p align="center">File</p>
            </div>

            <div class="col-md-3 col-xs-3" >
            <input type="hidden" accept="image/*" name="input-file-preview" id="select_pdf_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
            <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgFromMedia('pdf');">
            <p align="center">Library</p>
           </div>
         </div>

          <div class="col-md-6 col-xs-6" style="margin: 5px 0px;display:none" id="select_excel_file_type_div">

            <div  class="col-md-3 col-xs-3" style="margin: 5px 0px;">
                <input type="file" accept="application/vnd.ms-excel"
                   name="Excel File" id="select_excel_file_type" style="display:none" onchange="onSelectExcelReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_excel.png" %}' onclick="selectExcleRegion();" style='cursor:pointer'>
                <p align="center">Excel</p>
             </div>

            <div class="col-md-3 col-xs-3" >
            <input type="hidden" accept="image/*" name="input-file-preview" id="select_excel_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
            <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgFromMedia('excel');">
            <p align="center">Library</p>
           </div>
         </div>


         
      </div>
     </div>

<div class="col-md-12 col-xs-12">
      <div class="rows">
        <br/>
          <center>
          <button  class="btn btn-danger" data-dismiss="modal" onclick="dismissChoseImgOption();">Close</button>
     </center>
   </div>
 </div>


        </div>
        
      </div>
    </div> 
</div>

{% include 'content/list_mycontent_cb.html' %}

 <script id="hide2">
   var csrf_token = '{{ csrf_token }}';
   var storeLocation = '{{ store_location }}';
	// self executing function here
	(function() {
	   // your page initialization code here
	   // the DOM will be available here
	 var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/create_campaign.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   
   //initXXX();

   var elem = document.getElementById("invisible");
   elem.parentNode.removeChild(elem);

   var ga1 = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga1.type = 'text/javascript';
   ga1.src = "{% static 'js/campaign/uploadxxx.js' %}";

   ga1.id = 'invisible1';
   document.body.appendChild(ga1);

   var elem = document.getElementById("invisible1");
   elem.parentNode.removeChild(elem);

   var ga2 = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga2.type = 'text/javascript';
   ga2.src = "{% static 'js/campaign/upload_local.js' %}";

   ga2.id = 'invisible2';
   document.body.appendChild(ga2);

   var elem = document.getElementById("invisible2");
   elem.parentNode.removeChild(elem);
   
   cctDisplayTemplates();

       
	})();

// + -
function wcqib_refresh_quantity_increments() {
    jQuery("div.quantity:not(.buttons_added), td.quantity:not(.buttons_added)").each(function(a, b) {
        var c = jQuery(b);
        c.addClass("buttons_added"), c.children().first().before('<input type="button" value="-" class="minus" />'), c.children().last().after('<input type="button" value="+" class="plus" />')
    })
}
String.prototype.getDecimals || (String.prototype.getDecimals = function() {
    var a = this,
        b = ("" + a).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
    return b ? Math.max(0, (b[1] ? b[1].length : 0) - (b[2] ? +b[2] : 0)) : 0
}), jQuery(document).ready(function() {
    wcqib_refresh_quantity_increments()
}), jQuery(document).on("updated_wc_div", function() {
    wcqib_refresh_quantity_increments()
}), jQuery(document).on("click", ".plus, .minus", function() {
    var a = jQuery(this).closest(".quantity").find(".qty"),
        b = parseFloat(a.val()),
        c = parseFloat(a.attr("max")),
        d = parseFloat(a.attr("min")),
        e = a.attr("step");
    b && "" !== b && "NaN" !== b || (b = 0), "" !== c && "NaN" !== c || (c = ""), "" !== d && "NaN" !== d || (d = 0), "any" !== e && "" !== e && void 0 !== e && "NaN" !== parseFloat(e) || (e = 1), jQuery(this).is(".plus") ? c && b >= c ? a.val(c) : a.val((b + parseFloat(e)).toFixed(e.getDecimals())) : d && b <= d ? a.val(d) : b > 0 && a.val((b - parseFloat(e)).toFixed(e.getDecimals())), a.trigger("change")
});

(function() {
  var searchForm = document.getElementById('search-form'),
    textInput = searchForm.url,
    clearBtn = textInput.nextSibling;
  textInput.onkeyup = function() {
    // Show the clear button if text input value is not empty
    clearBtn.style.visibility = (this.value.length) ? "visible" : "hidden";
  };
  // Hide the clear button on click, and reset the input value
  clearBtn.onclick = function() {
    this.style.visibility = "hidden";
    textInput.value = "";
  };
})();
 </script>
</body>
{% endblock %}
</body>
</html>