{% load static %}
<html>
<body>
<!-- The Multi region Modal -->
 <div class="modal" id="cct_display_template_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"> 
          <h4 class="modal-title" style="text-align:center;">Choose your layout from the available templates
          </h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;height:330px;">
         <table style="width:100%;border: 1px solid black;border-collapse:collapse;">
 
            <tr>
              <td><img src='{% static "images/campaign/single_100_100.png" %}' style='cursor:pointer' onclick="prepareView('{{ SINGLE_100_100 }}');"></td>

              <td><img src='{% static "images/campaign/two_reg_vertical.png" %}' onclick="prepareView('{{ two_reg_vertical_json }}');" style='cursor:pointer'></td>
              
              <td><img src='{% static "images/campaign/two_reg_horz.png" %}' onclick="prepareView('{{ two_reg_hoirz_json }}');" style='cursor:pointer'></td>
                
               <td> <img src='{% static "images/campaign/two_horiz_one_below.png" %}' onclick="prepareView('{{ two_horiz_one_below_json }}');" style='cursor:pointer'></td>
             
            </tr>
             <tr>
              <td><img src='{% static "images/campaign/two_vertical_50_50.png" %}' onclick="prepareView('{{ two_reg_vertical_50_50_json }}');" style='cursor:pointer'></td>

              <td> <img src='{% static "images/campaign/r3_1h_2v_20_50_50.png" %}' onclick="prepareView('{{ two_vertical_20_70_json }}');" style='cursor:pointer'></td>

              <td><img src='{% static "images/campaign/two_vertical_20_70.png" %}' onclick="prepareView('{{ r3_1h_2v_20_50_50_json }}');" style='cursor:pointer'></td>

              <td><img src='{% static "images/campaign/r4_2h_2v_50_50.png" %}' onclick="prepareView('{{ r4_2h_2v_50_50_json }}');" style='cursor:pointer'></td>
             </tr>
             
          </table>
        
     
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
         
         <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="">Close</button> -->
    
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>