{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script>
  function isMobileBrowser()
  {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
  }
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create campaign</title>
   
	<script Language='Javascript' src="{% static 'js/campaign/create_campaign_templates.js' %}"></script>
  <script Language='Javascript' src="{% static 'js/jscolor.js' %}"></script>
  <script src="/testJS.js"> </script>
	
  <script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

 <script  src="{% static 'scripts/html2canvas.js' %}"></script>

  <!--alert style-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <script src="{% static 'js/sweetalert.js' %}"></script>

  <style>
/*table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}*/


/*td:nth-child(even){background-color: #f2f2f2}*/
</style>

<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.generic {border: groove;} 

.create_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
</style>
</head>
{% block body %}
<body>
	{% include 'campaign/create_campaign_templates.html' %}

  {% include 'campaign/upload.html' %}

  <input type="button" id="create_button" class="create_button" value="Next" style="float:right;display:none" onclick="displayCreateCampaignDialog()"/>

  <h4 id="info_title" class="modal-title" style="text-align:center;color:#5FCF80;"></h4>

  
  <div style="position:fixed;top:50px;left:0px" id="parent_div" >
  </div>

	<!-- select option -->
  <div class="modal" id="selectoption">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;color:#5FCF80;">  Select Content Type.
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissSelectRegOption();">&times;</span> --></h4>

          <input type="hidden" id="select_media_reg_id">

        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
          <div style="overflow-x:auto;">
        	<table class="table" cellspacing="10">
 
            <tr>
              <td class="td">
              	<input type="file" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
              	<img src='{% static "images/campaign/image.png" %}' style='cursor:pointer' onclick="selectImgRegion();">
                <p align="center">Image</p>
              </td>
              <td class="td">
              	<input type="file" accept="video/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectVideoReg(this)"/>
              	<img src='{% static "images/campaign/video.png" %}' onclick="selectVideoRegion();" style='cursor:pointer'>
                <p align="center">Video</p>
              </td>
              <td class="td"><img src='{% static "images/campaign/url.png" %}' onclick="displayCreateURLDialog();" style='cursor:pointer'>
               <p align="center">URL</p>
             </td>
               <td class="td" onclick="displayCreateTextRegion()"> <img src='{% static "images/campaign/text.png" %}' onclick="displayCreateTextRegion();" style='cursor:pointer'>
                <p align="center">Text</p></td>

              <td class="td" id="display_create_table_region" onclick="displayCreateTableRegion()"> <img src='{% static "images/campaign/ic_table_layout.png" %}' onclick="displayCreateTableRegion();" style='cursor:pointer'>
                <p align="center">Table</p></td>
             
            </tr>
        </table>
      </div>
     		  
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
      <button  class="btn btn-success" data-dismiss="modal" onclick="dismissSelectRegOption();">Close</button>
      <!--  <button type="button" class="btn btn-success" onclick="">Submit</button> -->
       </center>
        </div>
        
      </div>
    </div>
  </div>
<!-- select option -->

<!-- select option -->
  <div class="modal" id="selectoption_mobile">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;color:#5FCF80;">  Select Content Type.
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissSelectRegOption();">&times;</span> --></h4>

          <input type="hidden" id="select_media_reg_id">

        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
          <div style="overflow-x:auto;">
          <table class="table" cellspacing="10">
 
            <tr>
              <td class="td">
                <input type="file" accept="image/*" name="input-file-preview" id="select_img_file_type" style="display:none" onchange="onSelectImgReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_image_yellow.png" %}' style='cursor:pointer' onclick="selectImgRegion();">
                <p align="center">Image</p>
              </td>
              <td class="td">
                <input type="file" accept="video/*" name="input-file-preview" id="select_video_file_type" style="display:none" onchange="onSelectVideoReg(this)"/>
                <img src='{% static "images/campaign/mobile/ic_video_yellow.png" %}' onclick="selectVideoRegion();" style='cursor:pointer'>
                <p align="center">Video</p>
              </td>
              <td class="td"><img src='{% static "images/campaign/mobile/ic_url.png" %}' onclick="displayCreateURLDialog();" style='cursor:pointer'>
               <p align="center">URL</p>
             </td>
           </tr>
           <tr>
               <td class="td" onclick="displayCreateTextRegion()"> <img src='{% static "images/campaign/mobile/ic_text_yellow.png" %}' onclick="displayCreateTextRegion();" style='cursor:pointer'>
                <p align="center">Text</p></td>

              <td class="td" id="display_create_table_region" onclick="displayCreateTableRegion()"> <img src='{% static "images/campaign/mobile/ic_table.png" %}' onclick="displayCreateTableRegion();" style='cursor:pointer'>
                <p align="center">Table</p></td>
             
            </tr>
        </table>
      </div>
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
      <button  class="btn btn-success" data-dismiss="modal" onclick="dismissSelectRegOption();">Close</button>
      <!--  <button type="button" class="btn btn-success" onclick="">Submit</button> -->
       </center>
        </div>
        
      </div>
    </div>
  </div>
<!-- select option mobile-->

<!-- Text -->
  <div class="modal" id="create_text_modal" style="padding-top:0px" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Text
          <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateTextRegion();">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
        <div>
          <label style="font-weight:bold">Rich Text : *</label><br>
            <textarea rows="4"  placeholder="Enter your text need to be displayed" name="media_name" id="create_text_media_name"></textarea> <br>

          <label style="font-weight:bold" for="exampleInputPassword2">Text Size :</label>
            <input type="number"  placeholder="Enter Font Size" name="font_size" id="create_text_media_text_size" value=40 />  <br>

            <label style="font-weight:bold;" for="exampleInputEmail1">Text Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="000000" id="create_txt_media_txt_color"> <br>
            
            <label style="font-weight:bold" for="exampleInputEmail1">Text Background Color :</label>
            <input class="jscolor {zIndex:9999} form-control" value="FFFFFF" id="create_txt_media_txt_bg">

             <label style="font-weight:bold;" for="exampleInputEmail1">Text Alignment : *</label>
              <select class="form-control" id="create_txt_media_txt_algmt">
                  <option value="3">LEFT</option>
                  <option value="5">RIGHT</option>
                  <option value="17">CENTER</option>
                  <option value="48">TOP</option>
                  <option value="80">BOTTOM</option>
                  <option value="1">CENTER_VERTICAL</option>
                  <option value="16">CENTER_HORIZONTAL</option>
              </select> <br> 

            <input type="checkbox" id="create_txt_media_txt_bold">Bold
            <input type="checkbox" id="create_txt_media_txt_italic"> Italic
            <input type="checkbox" id="create_txt_media_txt_underline" > Under line

        </div>
     

        </div>

  

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateTextRegion();">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="onSelectTxtReg();">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- Text -->


<!-- URL-->
  <div class="modal" id="create_url_reg_dialog" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">URL
          <span type="button" class="close" data-dismiss="modal" onclick="dimissCreateURLDialog()">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
              <div >
                <label for="exampleInputEmail1" style="font-weight:bold" >URL : *</label>

                <input type="text" size="100" value="https://www." name="url" id="create_url_reg_url" focus> <br>
                <span>Enter url address like https://www.xyz.com</span><br>
              </div>

    
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dimissCreateURLDialog();">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="onSelectUrlReg()">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- URL -->

<!-- Table -->
  <div class="modal" id="create_table_reg_dialog" style="z-index:1600;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Table
          <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateTableRegion()">&times;</span></h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
              <div >
                <label  style="font-weight:bold" >Rows : *</label>

                <input type="number" size="100" value="2" name="url" id="create_table_reg_rows" focus> <br>
                
                <label  style="font-weight:bold" >Coloumns : *</label>

                <input type="number" size="100" value="2" name="url" id="create_table_reg_coloumns" > <br>

                <br>
              </div>

    
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateTableRegion();">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="onSelectTableReg()">Ok</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- Table -->

<!-- campaign info dialog -->
  <div class="modal" id="campaign_info_diag" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Campaign
         <!--  <span type="button" class="close" data-dismiss="modal" onclick="dismissCreateCampaignDialog();">&times;</span> --></h4>
           <center><img id="loading" src="../images/ajax-loader.gif" alt="Updating ..." style="display: none;" /></center>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:auto;">
     
                <div class="col-md-12">

          <!-- <form class="feedback" name="feedback"> -->
    
               <div class="form-group">
                  <label for="exampleInputPassword1" style="font-weight:bold">Campaign Name : *</label>
                  <input type="text" class="form-control" placeholder="Enter Campaign Name" name="media_name" id="file_media_name" size="100" style="width: 100%;">  
                  <input type="checkbox" onchange="setDefaultCampaignName(this);">Set default Campaign name   
                </div>

             
              <br>
              <div class="col-md-6" style="padding-left:0px;padding-right:0px;">
                 <div class="form-group">
                    <label style="font-weight:bold">Campaign Duration (sec):</label>
                    <input type="number" class="form-control" value="10" placeholder="Enter Duration(Sec)" name="duration" id="file_duration" size="100">
                  </div> 
                   </div>

            <br>

          </div>
        </div>

        <div class="modal-footer">
        <center>     
                 <button class="btn btn-danger"  data-dismiss="modal" onclick="dismissCreateCampaignDialog()">Close</button>       
                  <button class="btn btn-success" id="submit" onclick="createCampaign();">Submit</button>
        </center>
         
        </div>
        
      </div>
    </div>
  </div>
<!-- SEND-->



 <script id="hide2">
   var csrf_token = '{{ csrf_token }}';
   
	// self executing function here
	(function() {
	   // your page initialization code here
	   // the DOM will be available here
	 var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/create_campaign.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   
   //initXXX();

   var elem = document.getElementById("invisible");
   elem.parentNode.removeChild(elem);

   var ga1 = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga1.type = 'text/javascript';
   ga1.src = "{% static 'js/campaign/uploadxxx.js' %}";

   ga1.id = 'invisible1';
   document.body.appendChild(ga1);

   var elem = document.getElementById("invisible1");
   elem.parentNode.removeChild(elem);
   
   cctDisplayTemplates();

       
	})();


 </script>
</body>
{% endblock %}
</body>
</html>