{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% block header %} {% include 'header.html' %} {% endblock %}
{% block body %}

 
<body onload="afterLoad()">

<script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

<script  src="{% static 'upload_file_anim/upload_file_anim.js' %}"></script>

<link rel="stylesheet" href="{% static 'upload_file_anim/upload_file_anim.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">

<link rel="stylesheet"
 href="{% static 'bootstrap/3.4.0/bootstrap.min.css' %}">
  <script src="{% static 'jquery/3.4.0/jquery.min.js' %}">
  </script>

 <style>
.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}


td.campaign_row:hover { 
  font-size: 18px
}

.campaign_row a {
  color:#5D8AA8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 95px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

</style>


<section id="contact" class="section-padding">
  
<div class='container' id="listemail">
<div class='rows'>

  <a class="nav-link" href="{% url 'create' %}" style="float:right;font-weight:bold ;margin-top: 20px;" >
    <button class="gradient-button gradient-btn"><i class='fa fa-plus'> Create Campaign</i></button></a><br /><br />

<!-- 	<ul class='list-group'> -->
  {% load tz %}
  {% timezone "Australia/Lord_Howe" %}<!-- temp solution convert to indian format-->
	<table id="campaign_list_table" class="table" style="border:0px;border-spacing: 2px;width: 100%;text-align: center;">
    <thead style="border: 0px;">
      <tr style="border: 0px;">
        <th style="border: 0px;"></th>
        <th style="border: 0px;"></th>
        <th style="border: 0px;"></th>
        <th style="border: 0px;"></th>
        <th style="border: 0px;"></th>
      </tr>
    </thead>

	{% for campaign in res.campaigns %}
   
    <div class="rows" id="campaign_row_{{ campaign.id }}">

          <tr id="campaign_title_{{ campaign.id }}" class="campaign_row">
              <td rowspan="2" style="width: 12%"><img id="thumb_img_{{ campaign.id }}" src="{% static 'images/campaign/default_campaign.png' %}" style="width: 100%;
    height: 100px;"></td>
              <td rowspan="2" class="campaign_row" style="text-align:center;">{{ campaign.campaign_name }} </td>
              
              <td ><i class='fa fa-trash fa-lg' style='color:orangered;cursor: pointer;' alt="Delete" title="Delete"
               onclick='deleteCampaign("{{campaign.id}}","{{ campaign.campaign_name }}")'></i></td>

               <td ><i class='fa fa-edit fa-lg' style='color:blue;cursor: pointer;' alt="Edit" title="Edit"
               onclick='getCampaignInfoToEdit("{{campaign.id}}")'></i></td>

              <td > <a href="/campaigns/previewCampaign/{{campaign.id}}" target='_blank'>
                <i class='fa fa-eye fa-lg' style='color:yellowgreen;cursor:pointer;' alt="Preview" title="Preview"></i>
              </a></td>

              <td >  <i class='fa fa-television fa-lg' style='color:darkblue;cursor: pointer;' alt="Delete" title="Publish" onclick='publishCampaign("{{campaign.id}}")'></i></td>

          </tr>

          <tr id="campaign_title2_{{ campaign.id }}" 
          class="campaign_row">
              <td colspan = "5" style="text-align:right;border:0px">{{ campaign.updated_date|localtime }}</td>   
          </tr>

       

    </div>
 
	{% endfor %}
 </table>
  {% endtimezone %}


</div> 
</div>
</section>
<div class="container">
  <div class="modal centered-modal" tabindex="-1" role="dialog" id="busy_dialog">

  <div class="modal-dialog" role="document">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" id="busy_dialog_header" style="display:none"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" display = "none"></h4>
        </div>
        <div class="modal-body">
          <!--initiate busy spinner -->
           <div id="init_upload_busy_dialg_div" align="center" style="display:none">
            <div class="loader" > </div>
            <p id="busy_dialog_msg">Deleting...</p>
            </div>
          

          <!-- file upload progress -->
          <div style="clear: both;display:none" id="uploading_file_info_div">
              <h4 style="float: left" id="uploading_file_name_elm"></h2>
              <h6 style="float: right" id="uploading_file_count_elm"></h3>
          </div>

          <!-- init file upload progress bar -->
          <div id="init_file_upload_busy_dialg_div"class="progress" style="display:none">
          <div class="indeterminate"></div>
          </div>
          
          <div class="progress" id="file_upload_progress_dialg_parent_div" style="display:none">

          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="file_upload_progress_dialg_div">0 
      
          </div>

          <p>.</p>
        </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>

<!-- Campaign Edit Dialog -->
  <div class="modal" id="campaign_edit_dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"><center>
          <h4 class="modal-title" >Campaign Info Edit Dialog</h4></center>
          <input type="hidden" id="lptp_campaign_id" />
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

        <div class="block">
        <label><b>Campaign Name:</b></label>
          <i style="color: blue;font-weight: bold;font-size: 14px;" id="camp_name"><b>info</b></i>
          </div>

     <label ><b>Camapign Duration(sec)</b></label>
    <input style="width: 60%;" class='form-control' id="duration_id" type="text" placeholder="Enter Campaign Duration" name="duration" required />
    <div id="camp_id" style="display: none;"></div>
    <label>
      <input style="margin-top: 10px;" id="hide_ticker" type="checkbox" name="remember"><b>Hide Ticker Text</b>

    </label>

        
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
         
          <button type="button" class="btn btn-danger" data-dismiss="modal"  onclick="closeCampaignEditDialog()">Cancel</button>
           <button type="button" class="btn btn-success" data-dismiss="modal"  onclick="editCamapignInfo()">Submit</button>

          </center>
        </div>
        
      </div>
    </div>
  </div>

  <div id="snackbar">Some text some message..</div>

<!-- End of Campaign Edit Dialog -->

{% include 'campaign/list_players_to_publish.html' %}

<script>
var csrf_token = '{{ csrf_token }}';
var downloadThumbPosition=0;
var downloadThumbInfo = {
    id: 0,
    save_path: null,
    resourceName: null,//resource name
    store_location: 2,//default to drop box
  
  };

 (function() {
     // your page initialization code here
     // the DOM will be available here
   var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/list.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   

  })();

$(".btn-custom").text(function(index, currentText) {
  if(currentText.length>15){
    return currentText.substr(0, 15)+'...';
  }
});

function getDownloadThumbInfo()
{
  var iteratePos = 0;
  {% for campaign in res.campaigns %}
      if(downloadThumbPosition==iteratePos)
      {
        
        downloadThumbInfo.id = {{campaign.id}};
        downloadThumbInfo.save_path= "{{campaign.save_path}}";
        downloadThumbInfo.resourceName= "{{campaign.campaign_name}}";
        downloadThumbInfo.store_location = "{{campaign.stor_location}}";
        
        //increate position to get next thumb
        ++downloadThumbPosition;
        return true;
      }else
      {
        ++iteratePos;
      }
  {% endfor %}
   
   return false;
}

function afterLoad()
{
   highliteSelectedLink("campaigns_nav");  
   checkAndDownloadThumbFile(); 
}
</script>
{% endblock %}


{% block footer %} {% include 'footer.html' %} {% endblock %}
  <script type="text/javascript">
$(document).ready(function(){
$('#management').addClass('active');
    });
  </script>
</body>

</html>
