{% load static %}
<html lang="en">
<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}

<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

<script  src="{% static 'upload_file_anim/upload_file_anim.js' %}"></script>

<link rel="stylesheet" href="{% static 'upload_file_anim/upload_file_anim.css' %}">

</head>

{% block body %}
<body>

 <style>
.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}
a.btn:active{
    background:green;
}
</style>


<br/> <br/>

<a class="nav-link" href="{% url 'create' %}" style="float:right;margin-right:10em;font-weight:bold" target="_blank">Create Campaign</a><br/><br/>

<div class='container' style="border: solid 2px lightblue;
    border-radius: 10px;" id="listemail">
<div class='rows'>
<div class='panel panel-default'>
	<div class='panel-heading' style='background: cornflowerblue;color: white;'>Download Campaign</div>

	<ul class='list-group'>
	
	{% for campaign in res.campaigns %}

	 <li class='list-group-item'>
	 	<div class='row toggle' id='lead_contact_details' style='cursor:pointer'>
	 		<div class='col-xs-10'>{{ campaign.campaign_name }}</div>

      <div class='col-xs-2'>
        <i class='fa fa-download pull-right' style='color:darkgreen;margin:5px;' onclick='download("{{campaign.id}}","{{campaign.stor_location}}","{{campaign.campaign_name}}","{{campaign.save_path}}");'></i>

        <a href="/campaigns/previewCampaign/{{campaign.id}}" target='_blank'><img border='0' alt='preview' src='{% static 'images/ic_preview.png' %}' style='float:right;margin:5px;'></a>

      </div>

	 	  </div>

      <div id="results" style="margin-top: 30px"></div>
	 	
	 </li>
	{% endfor %}


	</ul>
</div>  
</div> 
</div> 

<div class="container">
  <div class="modal fade centered-modal" tabindex="-1" role="dialog" id="busy_dialog">

  <div class="modal-dialog" role="document">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" id="busy_dialog_header" style="display:none"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" display = "none"></h4>
        </div>
        <div class="modal-body">
          <!--initiate busy spinner -->
           <div id="init_upload_busy_dialg_div" align="center" style="display:none">
            <div class="loader" > </div>
            <p>Initiating Please Wait...</p>
            </div>
          

          <!-- file upload progress -->
          <div style="clear: both;display:none" id="uploading_file_info_div">
              <h4 style="float: left" id="uploading_file_name_elm"></h2>
              <h6 style="float: right" id="uploading_file_count_elm"></h3>
          </div>

          <!-- init file upload progress bar -->
          <div id="init_file_upload_busy_dialg_div"class="progress" style="display:none">
          <div class="indeterminate"></div>
          </div>
          
          <div class="progress" id="file_upload_progress_dialg_parent_div" style="display:none">

          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="file_upload_progress_dialg_div">0 
      
          </div>

          <p>.</p>
        </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>

<script>
var csrf_token = '{{ csrf_token }}';

 (function() {
     // your page initialization code here
     // the DOM will be available here
   var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/list.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   

  })();
</script>
{% endblock %}

<br/><br/><br/>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}


</body>


</html>

