{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Green Content</title>
  <meta name="description" content="green content to have your own account to store media content ">
  <meta name="keywords" content="green content, campaigns, groups, video, images, text, url">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/imagehover.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/style.css' %}">
 <!--alert style-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <script src="{% static 'js/sweetalert.js' %}"></script>

</head>

{% block body %}


<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ffffff;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" style="color:#5FCF80;">Green<span style="color: grey;">Content</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
           <!--     <li class="nav-item">
              <a class="nav-link" href="{% url 'mycontent_videos' %}">My Content</a>
            </li> -->
           <!--  <li class="nav-item ">
              <a class="nav-link" href="{% url 'my_wishlist' %}">My Whishlist</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listCampaignsWeb' %}">Campaign management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Device Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gcGroups' %}">GC Groups</a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_camp_web' %}">Upload Campaign</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#">Signage Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Viewers Metrics</a>
            </li>
         
           <!--   <li class="nav-item">
              <a class="nav-link" href="{% url 'web_search' %}">Web Content</a>
            </li> -->
           
            <li class="nav-item active">
              <a class="nav-link"  href="{% url 'logout' %}">{{ request.user.first_name}}(Logout)</a>
            </li>

             {% else %}

              <li><a href="{% url 'contact_us' %}" >Contact us</a></li>
              <li class="btn-trial"><a href="{% url 'signin' %}">Sign In</a></li>
          
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

<script  src="{% static 'upload_file_anim/upload_file_anim.js' %}"></script>

<link rel="stylesheet" href="{% static 'upload_file_anim/upload_file_anim.css' %}">

  <!--alert style-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <script src="{% static 'js/sweetalert.js' %}"></script>



 <style>
.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}
a.btn:active{
    background:green;
}
</style>
<br/><br/>

<section id="contact" class="section-padding">
  




<div class='container' id="listemail">
<div class='rows'>
  <a class="nav-link" href="{% url 'create' %}" style="float:right;font-weight:bold" >
    <button class="btn btn-success"><i class='fa fa-plus'> Create Campaign</i></button></a><br/><br/>
<div class='panel panel-default'>
	<div class='panel-heading' style='background: cornflowerblue;color: white;'>Campaign List</div>

<!-- 	<ul class='list-group'> -->
	
	{% for campaign in res.campaigns %}
<!-- 
	 <li class='list-group-item'>
	 	<div class='row toggle' id='lead_contact_details' style='cursor:pointer'>
	 		<div class='col-xs-10'>{{ campaign.campaign_name }}</div>

      <div class='col-xs-2'>
        <i class='fa fa-download pull-right' style='color:darkgreen;margin:5px;' onclick='download("{{campaign.id}}","{{campaign.stor_location}}","{{campaign.campaign_name}}","{{campaign.save_path}}");'></i>

        <a href="/campaigns/previewCampaign/{{campaign.id}}" target='_blank'><img border='0' alt='preview' src='{% static 'images/ic_preview.png' %}' style='float:right;margin:5px;'></a>

      </div>

	 	  </div>

      <div id="results" style="margin-top: 30px"></div>
	 	
	 </li> -->
<!-- <li class='list-group-item'> -->
   <div class="col-md-12 col-xs-12" style="padding:5px 1 0px;border-bottom: 1px solid darkgrey;">
    <div class="rows">
      <div class="col-md-10 col-xs-9" style="padding:0px;">
        <p style="color:blue;">{{ campaign.campaign_name }}</p>
      </div>
      <div class="col-md-1 col-xs-1" style="padding:0px;">
         <i class='fa fa-download pull-right' style='color:darkgreen;margin:5px;cursor: pointer;' alt="download" title="download" onclick='download("{{campaign.id}}","{{campaign.stor_location}}","{{campaign.campaign_name}}","{{campaign.save_path}}");'></i>
      </div>
      <div class="col-md-1 col-xs-1" style="padding:0px;">
        <a href="/campaigns/previewCampaign/{{campaign.id}}" target='_blank'><img border='0' alt='preview' title="preview" src="{% static 'images/ic_preview.png' %}" style='float:right;margin:5px;'></a>
      </div>
    </div>
  </div>
<!-- </li> -->
	{% endfor %}

<!-- 
	</ul> -->
</div>  
</div> 
</div> 
</div>
</section>
<div class="container">
  <div class="modal fade centered-modal" tabindex="-1" role="dialog" id="busy_dialog">

  <div class="modal-dialog" role="document">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" id="busy_dialog_header" style="display:none"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" display = "none"></h4>
        </div>
        <div class="modal-body">
          <!--initiate busy spinner -->
           <div id="init_upload_busy_dialg_div" align="center" style="display:none">
            <div class="loader" > </div>
            <p>Initiating Please Wait...</p>
            </div>
          

          <!-- file upload progress -->
          <div style="clear: both;display:none" id="uploading_file_info_div">
              <h4 style="float: left" id="uploading_file_name_elm"></h2>
              <h6 style="float: right" id="uploading_file_count_elm"></h3>
          </div>

          <!-- init file upload progress bar -->
          <div id="init_file_upload_busy_dialg_div"class="progress" style="display:none">
          <div class="indeterminate"></div>
          </div>
          
          <div class="progress" id="file_upload_progress_dialg_parent_div" style="display:none">

          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="file_upload_progress_dialg_div">0 
      
          </div>

          <p>.</p>
        </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>

<script>
var csrf_token = '{{ csrf_token }}';

 (function() {
     // your page initialization code here
     // the DOM will be available here
   var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/list.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   

  })();
</script>
{% endblock %}


  <!--Footer-->
  <footer id="footer" class="footer">
    <div class="container text-center">

      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="https://twitter.com/Adskite1/status/664062917726224385" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="https://www.facebook.com/Adskite-1659890184252995/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="https://plus.google.com/101115373606937070219/about" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="https://in.linkedin.com/company/adskite-india-pvt-ltd" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
    
      <div class="credits">

        Copyright (c) 2019, All Rights Reserved. Powered by AdsKite India Pvt. Ltd.
      </div>
    </div>
  </footer>
  <!--/ Footer-->

  <script src="{% static 'Mentor/js/jquery.min.js' %}"></script>
  <script src="{% static 'Mentor/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'Mentor/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Mentor/js/custom.js' %}"></script>
<script src="{% static 'js/default_busy_loader.js' %}"></script>
<!-- <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script> -->
</body>

</html>
