{% load static %}
<html lang="en">
<head>
 
<script Language='Javascript' src="{% static 'js/campaign/preview.js' %}"></script>

</head>
{% block body %}
<body>


<script >

function fullscreen(iframe) {
  // check if fullscreen mode is available
  if (document.fullscreenEnabled || 
    document.webkitFullscreenEnabled || 
    document.mozFullScreenEnabled ||
    document.msFullscreenEnabled) {
      
    // Do fullscreen
   if (iframe.requestFullscreen) {
      iframe.requestFullscreen();
    } else if (iframe.webkitRequestFullscreen) {
      iframe.webkitRequestFullscreen();
    } else if (iframe.mozRequestFullScreen) {
      iframe.mozRequestFullScreen();
    } else if (iframe.msRequestFullscreen) {
      iframe.msRequestFullscreen();
    }

  
  }
  else {
   alert('Your browser is not supported');
  }
}

function fullscreenChange() {
  if (document.fullscreenEnabled ||
       document.webkitIsFullScreen || 
       document.mozFullScreen ||
       document.msFullscreenElement) {
    console.log('enter fullscreen');
  }
  else {
    console.log('exit fullscreen');
  }
}

var csrf_token = '{{ csrf_token }}';

var info = "{{info}}"; regionsInfo=[];
var campaignName;var savePath;
var downloadResources= [];

 info = JSON.parse(info.replace(/&quot;/g,'"'));

 var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;


var screenInfo = {'width':x,'height':y};
console.log("screenInfo"+JSON.stringify(screenInfo));


if(info.statusCode != 0)
{
   var errorInfo = document.createElement('h1');
   errorInfo.innerHTML = info.status;
   document.getElementsByTagName('body')[0].appendChild(errorInfo);
}else
{
 
  campaignName = info.c_name;
  savePath = info.save_path;

  if(info.cInfo.type=='multi_region')
  {
  	regionsInfo = info.cInfo.regions;
  }else{
  	//single region handle
  	region = info.cInfo;
  	region['media_name'] = info.cInfo.resource;
  	region['width'] = 100;
  	region['height'] = 100;
  	
  	regionsInfo.push(region);
  }


  // self executing function here
  (function() {
     // your page initialization code here
     // the DOM will be available here
   var ga = document.createElement("script"); //ga is to remember Google Analytics ;-)
   ga.type = 'text/javascript';
   ga.src = "{% static 'js/campaign/preview.js' %}";

   ga.id = 'invisible';
   document.body.appendChild(ga);
   
   initUploadDxxx();
       
  })();

  //get campaign info 
   //checkForCampaignInDB();
}


</script>



{% endblock %}
</body>
</html>


