{% load static %}
<html>
<body>
<!-- div to display group info -->
    <!-- The Modal -->
  <div class="modal" id="anm_members">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" >Add New members</h4>
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<input type="text" id="anm_add_member_input" oninput="verifyMember()" onkeydown="anmAddMemberOnKeyDown()" placeholder="Enter User GC Email"/> 
          
           <input type='hidden' src='{% static "images/ic_group_member_active.png" %}' alt='add' title='add' onclick='anmVerifyAndAddMember()' id="anm_valid_email_true">

          <div id="anm_members_list">
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" id
          ="anm_success" onclick="sendANMNewMember()">Submit</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal" id
          ="lmcb_close" onclick="closeANMCreation()">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>
  var anmNewMembers = [];
  function closeANMCreation()
  {
    document.getElementById('anm_members').style.display = "none";
  }
  function clearVariables()
  {
  	anmNewMembers =[];
  	anmRefreshMembers();
  }

  function anmDisplayCreation()
  {
  	clearVariables();
     var modal = document.getElementById('anm_members');
    modal.style.display = "block";
    

  }

  function anmAddMemberOnKeyDown()
  {
    var keynum = event.which || event.keyCode;
    if(keynum == 9 || keynum == 32 || keynum == 188 || keynum == 13)
    {

      anmVerifyAndAddMember()
    }
  }

  function verifyMember(event)
  {
    /**/

    var email = document.getElementById("anm_add_member_input").value;
      email = email.trim();
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
       if(re.test(String(email).toLowerCase()))
       {
            document.getElementById('anm_valid_email_true').type='image';
       }else
       {
        document.getElementById('anm_valid_email_true').type='hidden';
       }

   
  }

  function anmVerifyAndAddMember()
  {
    var email = document.getElementById("anm_add_member_input").value;
      email = email.trim();
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
       if(re.test(String(email).toLowerCase()))
       {
        console.log("valid Email");
         var index = anmNewMembers.indexOf(email);
         if(index<0)
         {
          anmNewMembers.push(email);
          console.log(JSON.stringify(anmNewMembers));
          //reset 
          document.getElementById("anm_add_member_input").value = "";
          anmRefreshMembers();
         }
       }
  }

  function adnmRemoveMember(memberEmail)
  {
    var index = anmNewMembers.indexOf(memberEmail);
         if(index>=0)
         {
          anmNewMembers.splice(index,1);
          anmRefreshMembers();
        }
  }

  function anmRefreshMembers()
  {
  	var dvTable = document.getElementById("anm_members_list");
  	dvTable.innerHTML="";
  	 var table = document.createElement("TABLE");
  	 table.id = "anm_members_list_table";
      
        //Get the count of columns.
        var columnCount = 1;
     
        //Add the header row.
       // var row = table.insertRow(-1);

        for (var i = 0; i < anmNewMembers.length; i++) 
        {
             row = table.insertRow(-1);
             row.style.height = "25px";
             for (var j = 0; j < columnCount; j++) 
             {

              var cell = row.insertCell(-1);
              

              cell.innerHTML = anmNewMembers[i];

              var deleteCell = row.insertCell(-1);
              deleteCell.innerHTML = "<input type='image' src='{% static "images/ic_remove.png" %}' alt='remove' title='remove' onclick='adnmRemoveMember(\""+anmNewMembers[i]+"\")'>"
              
             }
        }
 
         
         dvTable.innerHTML = "";
         dvTable.appendChild(table);
  }


  </script>
</body>
</html>