{% load static %}
<html>
<style>
.mg_tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.2%;
}
</style>

<body>
    <div class='tabcontent' id="member_groups" style="display:none">
     <div class='container'> 
  		<button class="mg_tablink" onclick="mgDisplayPendingList(this)" id="mg_pending_list_btn">Pending</button>
  	   <button class="mg_tablink" onclick="mgDisplayActiveList(this)" id="mg_active_list_btn">Active</button>
  	   <button class="mg_tablink" onclick="mgDisplayBlockedList(this)" id="mg_blocked_list_btn">Blocked</button>
     </div>
	
 
  <div class='container' style="margin-top:20px;border: solid 2px lightblue;
    border-radius: 10px;">
    <div id="mg_pending_group_request" style="display:none" class="mg_tabcontent">
    </div>
    <div id="mg_active_group_request" style="display:none" class="mg_tabcontent">
    </div>
    <div id="mg_blocked_group_request" style="display:none" class="mg_tabcontent">
    </div>
  </div>
   </div>

  <!-- div to display group info -->
    <!-- The Modal -->
  <div class="modal" id="mg_assigned_campaigns">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" >Campaigns</h4>
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div id="mg_assigned_campaigns_list">
          </div>
         

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          
          <button type="button" class="btn btn-danger" data-dismiss="modal"  onclick="closeMGAssignedCampaigns()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
   
 <script >
  mgListGroups=[];var tabColor="#5D8AA8";
  function mgListGroupsfunc()
  {
    try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/groups/getAssignedGroups/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
                accessToken: 'web'
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
        
      
        var statusCode = data['statusCode'];
        if(statusCode==0 || statusCode==1)
        {
             if(statusCode==0)
             {
              mgListGroups=data['info'];
             }else
             {
              mgListGroups=[];
             }
        document.getElementById('member_groups').style.display="block";
            //refresh list
            mgDisplayActiveList(document.getElementById('mg_active_list_btn'))
            
        }
       else
       {

             swal(data['status']);
                                    
       }

        

       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      alert(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
        alert(Exception.message);
    }

  }
  function refreshTabs()
  {
    var tablinks = document.getElementsByClassName("mg_tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }

    tabcontent = document.getElementsByClassName("mg_tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

  }

  function mgDisplayPendingList(element)
  {
    
     refreshTabs();

    var dvTable = document.getElementById("mg_pending_group_request");

    if(mgListGroups.length>0)
    {
            //Create a HTML Table element.
        var table = document.createElement("TABLE");
        table.border = "0";
        var isGroupFound = false;
        for (var i = 0; i < mgListGroups.length; i++) 
        {

          var info = mgListGroups[i];
          if(info.status==0)//only pending
          {
            isGroupFound= true;
            row = table.insertRow(-1);
            
            var cell = row.insertCell(-1);
            var groupInfoDiv = "<div><h6> ("+info.user_name+")</h6> <h4 style='color:blue'>"+info.g_name+" </h4> <hr /> </div>";    
            cell.innerHTML = groupInfoDiv;
            cell.style.width='100%';

            var approveCell = row.insertCell(-1);
            approveCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_active.png" %}' onclick='mgUpdateGroupStatus("+i+","+info['g_id']+",1)' title='Approve' alt='Approve'/>";
            approveCell.align='left';
            

           
            var blockCell = row.insertCell(-1);
            blockCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_blocked.png" %}' onclick='mgUpdateGroupStatus("+i+","+info['g_id']+",-1)' title='block',alt='block'/>";
            
           
          }  
        }
 
         
         if(isGroupFound)
         {
          dvTable.innerHTML = "";
          dvTable.appendChild(table);
         }else
         {
           dvTable.innerHTML = "No pending groups";
         }
         
    }else
    {
      //no members
      dvTable.innerHTML = "No pending groups";
    }

    
    dvTable.style.display = "block";
    element.style.backgroundColor = tabColor;
  }

  function mgDisplayActiveList(element)
  {
    refreshTabs();
     

    var dvTable = document.getElementById("mg_active_group_request");

    if(mgListGroups.length>0)
    {
            //Create a HTML Table element.
        var table = document.createElement("TABLE");
        table.border = "0";
        var isGroupFound = false;
        for (var i = 0; i < mgListGroups.length; i++) 
        {

          var info = mgListGroups[i];
          var cells = [];
          if(info.status==1)//only pending
          {
            isGroupFound= true;
            row = table.insertRow(-1);
            
            var cell = row.insertCell(-1);
                
            //cell.innerHTML = info['g_name']
            cell.style.width='100%';
            cell.style.cursor="pointer";
            
            var groupInfoDiv = "<div><h6> ("+info.user_name+")</h6> <h4 onclick='mgGetMemberGroupInfo("+info['g_id']+")' style='color:blue'>"+info.g_name+" </h4> <hr /> </div>";
            
            cell.innerHTML = groupInfoDiv;

            var blockCell = row.insertCell(-1);
            blockCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_blocked.png" %}' onclick='mgDisplayBlockGroupAlert("+i+","+info['g_id']+",-1)' title='block',alt='block'/>";
             
         
          }  
        }
 
         
         if(isGroupFound)
         {
          

          dvTable.innerHTML = "";
          dvTable.appendChild(table);
         }else
         {
           dvTable.innerHTML = "No active groups";
         }
         
    }else
    {
      //no members
      dvTable.innerHTML = "No active groups";
    }

    
    dvTable.style.display = "block";
    element.style.backgroundColor = tabColor;
  }

  function mgDisplayBlockedList(element)
  {
     refreshTabs();

   

    var dvTable = document.getElementById("mg_blocked_group_request");

    if(mgListGroups.length>0)
    {
            //Create a HTML Table element.
        var table = document.createElement("TABLE");
        table.border = "0";
        var isGroupFound = false;
        for (var i = 0; i < mgListGroups.length; i++) 
        {

          var info = mgListGroups[i];
          if(info.status==-1)//only pending
          {
            isGroupFound= true;
            row = table.insertRow(-1);
    
            var cell = row.insertCell(-1);
            var groupInfoDiv = "<div><h6> ("+info.user_name+")</h6> <h4 style='color:blue'>"+info.g_name+" </h4> <hr /> </div>";
            cell.innerHTML = groupInfoDiv;
            cell.style.width='100%';

            var approveCell = row.insertCell(-1);
            approveCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_active.png" %}' onclick='mgUpdateGroupStatus("+i+","+info['g_id']+",1)'/>";
            approveCell.align='left';
            

            
            
          }  
        }
 
         
         if(isGroupFound)
         {
          dvTable.innerHTML = "";
          dvTable.appendChild(table);
         }else
         {
           dvTable.innerHTML = "No groups";
         }
         
    }else
    {
      //no members
      dvTable.innerHTML = "No groups";
    }

    
    dvTable.style.display = "block";
    element.style.backgroundColor = tabColor;
  }

  function mgDisplayBlockGroupAlert(listPosition,gId,status)
  {
    var isBlock = confirm("Are you sure to block this group? Blocking this group will remove all this group approved Campaigns from your list.");

    if (isBlock == true) {
      mgUpdateGroupStatus(listPosition,gId,status);
    } 
  }

  function mgUpdateGroupStatus(listPosition,gId,status)
  {
    
    try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/groups/updateMemberGroupStatus/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
                accessToken: 'web',
                status:status,
                g_id:gId
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
       
      
        var statusCode = data['statusCode'];
        if(statusCode==0)
        {
          info = mgListGroups[listPosition];
          info.status=status;
          mgListGroups[listPosition]=info;

         if(document.getElementById('mg_active_group_request').style.display == 'block')
         {
          mgDisplayActiveList(document.getElementById('mg_active_list_btn'));
         }else if(document.getElementById('mg_blocked_group_request').style.display == 'block')
         {
          mgDisplayBlockedList(document.getElementById('mg_blocked_list_btn'));
         }else{
          mgDisplayPendingList(document.getElementById('mg_pending_list_btn'));
         }
          
             


        
            
            
        }
       else
       {

             swal(data['status']);
                                    
       }

        

       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      alert(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
      ajaxindicatorstop();
        alert(Exception.message);
    }
  }

  function mgGetMemberGroupInfo(groupId)
  {
    
     try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/groups/getMemberGroupCampaigns/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
                accessToken: 'web',
                g_id:groupId
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
       
        var statusCode = data['statusCode'];
        if(statusCode==0)
        {
          displayMGAssignedCampaigns(data['campaigns']);
        }
       else
       {
          swal(data['status']);                               
       }

       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      alert(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
      ajaxindicatorstop();
        alert(Exception.message);
    }
  }

  function displayMGAssignedCampaigns(campaigns)
  {
    var dvTable = document.getElementById("mg_assigned_campaigns_list");

    if(campaigns.length>0)
    {
            //Create a HTML Table element.
        var table = document.createElement("TABLE");
        table.border = "0";
        
        for (var i = 0; i < campaigns.length; i++) 
        {

          var info = campaigns[i];
          {
            isGroupFound= true;
            row = table.insertRow(-1);
            var isApprovedCell = row.insertCell(-1);
              isApprovedCell.id = "mg_assigned_camp_isapprovecell_id"+i;

            if(info.status!=null&& info.status>=1)
            {

              isApprovedCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_active.png" %}' title='Approve' alt='Approve'/>"
            }else{
              isApprovedCell.innerHTML = "";
            }



            var cell = row.insertCell(-1);
                
            cell.innerHTML = info['campaign_name']
            cell.style.width='100%';

            var approveCell = row.insertCell(-1);
           approveCell.id="mg_assigned_camp_approvecell_id"+i;

           var previewCell = row.insertCell(-1);
           var previewCellHtml = "<a href='/campaigns/previewCampaign/"+info.camp_id+"'target='_blank'><img border='0' alt='preview' src='{% static "images/ic_preview.png" %}'></a>";
            previewCell.innerHTML = previewCellHtml;

            if(info.status != null && info.status >=1)
            {
              approveCell.innerHTML = "<input type='button' value='Remove' onclick='mgRemoveAssignedCamp("+info.status+","+i+","+info.g_camp_id+")'>";
            }else{
              approveCell.innerHTML = "<input type='button' value='Approve' onclick='mgApproveAssignedCamp("+info.g_camp_id+","+i+")'>";
            }
            
           
          }  
        }
 
        
          dvTable.innerHTML = "";
          dvTable.appendChild(table);
        
         
    }else
    {

      //no members
      dvTable.innerHTML = "No Campaigns";
    }

    
    dvTable.style.display = "block";
    document.getElementById("mg_assigned_campaigns").style.display="block";
  }

  function closeMGAssignedCampaigns(){
    document.getElementById("mg_assigned_campaigns").style.display="none";
  }

  function mgApproveAssignedCamp(gCampId,position)
  {
    
     try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/groups/approveGroupCampaign/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
                accessToken: 'web',
                g_camp_id:gCampId
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
         if(data['statusCode']==0)
         {
            approveCell = document.getElementById('mg_assigned_camp_approvecell_id'+position);
            approveCell.innerHTML = "<input type='button' value='Remove' onclick='mgRemoveAssignedCamp("+data.rec_id+","+position+","+gCampId+")'>";

            isApprovedCell = document.getElementById('mg_assigned_camp_isapprovecell_id'+position);
            isApprovedCell.innerHTML = "<input type='image' src='{% static "images/ic_group_member_active.png" %}' title='Approve' alt='Approve'/>"

         }
         
         swal(data['status']);
      

       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      alert(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
      ajaxindicatorstop();
        alert(Exception.message);
    }
  }

  function mgRemoveAssignedCamp(recId,position,gCampId)
  {
    try {
        ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

    $.ajax(
    {

      type:'POST',
      url: '/campaigns/removeApprovedCampaign/',
      headers: {            
            'X-CSRFToken':'{{ csrf_token }}'
        },
      data:{
                accessToken: 'web',
                rec_id:recId
      },
      
      success: function(data)
       {
         ajaxindicatorstop();
         if(data['statusCode']==0)
         {
           //camapaign has been removed from list 
           approveCell = document.getElementById('mg_assigned_camp_approvecell_id'+position);

          approveCell.innerHTML = "<input type='button' value='Approve' onclick='mgApproveAssignedCamp("+gCampId+","+position+")'>"

          isApprovedCell = document.getElementById('mg_assigned_camp_isapprovecell_id'+position);
          isApprovedCell.innerHTML="";

         }

         swal(data['status']);
      

       },
    
     error: function (jqXHR, exception) {
      ajaxindicatorstop();
      alert(exception+jqXHR.responseText);
     }

    });
    }
    catch(Exception)
    {
      ajaxindicatorstop();
        alert(Exception.message);
    }
  }
 </script>
</body>
</html>