{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	 <meta name="description" content="green content to have your digital advertising devices on the go">
  <meta name="keywords" content="green content, rules,digital ads,device management,campaigns,assign campaings,iot contextual ad tools, contextual ad rules, ad rules, male ads,female ads,family ads, text, url">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static 'js/device_group/device_groups.js' %}"></script>
  

<link rel="stylesheet"
 href="{% static 'bootstrap/3.4.0/bootstrap.min.css' %}">

  <script src="{% static 'jquery/3.4.0/jquery.min.js' %}">
  </script>

  <script src="{% static 'bootstrap/3.4.0/bootstrap.min.js' %}">
  </script>

  <style type="text/css">
	/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 11px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
  color: black;
}


</style>

</head>

{% block header %} {% include 'header.html' %} {% endblock %}

{% block body %}
<body>

	<style>
.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}
a.btn:active{
    background:green;
}
.fa-trash{
  color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 95px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

</style>


<br /><br /><br /><br /> 
<div  class="container">

 <a style="text-align: center;" class="tablink" href="{% url 'deviceMgmtPlayers' %}" id="groups_id">Players</a>
 <a style="text-align: center;background-color: blue;" class="tablink" href="{% url 'deviceGroups' %}"  id="defaultOpen" >Device Groups</a>

 
</div>

<!--  device group creation  -->
<div class="container">

<div id="dg_creation_form"  style="margin:5px; display:none;border: 1px solid darkgreen;border-radius: 8px;"> 	
<form  style="margin: 10px;" onSubmit="return createGroup()">
<i id="close_btn" onclick="dismissGroupCreationForm()" class="fa fa-close" style="float: right;text-align: right;"></i>
<button id="submit_btn" style="float: right;" class="gradient-button gradient-btn" onclick="createGroup()">Submit</button>
 <label>Group Name</label>
 <input style="width:50%;" type="input" name="classifier" class="form-control" id="group_name" placeholder="Please enter group name"required> 

</form>	
</div>
  <button id="create_btn" style="float: right;" class="gradient-button gradient-btn" onclick="displayGroupCreationForm();"><i class="fa fa-plus">Create Group</i></button>


  <!--device group creation form  -->


</div>

<!-- Display device groups  -->
<div id="groups_data" class="container">
	<table id="groups_info" class=" table table-hover">
		{% for group in groups %}
    <tr id="{{ group.id }}_group_name">
      <td class="info1" style="color:black;font-weight: bold" >{{ group.name }} </td>

      <td ><p style="cursor: pointer;color:blue;"
      onclick="getDGCampaignsInfo('{{ group.id }}')"><b>Campaign</b></p>
      </td> 
      
      <td><p style="cursor: pointer;color:green;"
      onclick="getGroupPlayersInfo('{{ group.id }}')"><b>Players</b></p></td>
      
      <td><span class="fa fa-trash"  style="cursor:pointer;
      color:orangered; display:inline-block;width:4%;float: left;
      margin;5px;" onclick="deleteDeviceGroup('{{ group.id }}')"></span></td>
    
    </tr>
    
   {% endfor %}
	</table>

</div>


{% include 'campaign/list_mycampaigns_cb.html' %}
<!--Div to display campaigns assign dialog for the Device Group  -->
<div class="modal" id="dg_campaigns_dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
         <p id="dg_name" style="color:#4CAF50;text-align: center;font-weight:500;font-size:22px;">Group</p>      
        </div>
         <!--  </div> 
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body">
       <input type="hidden" id="group_campaign_info_id" />
          <div id="campaign_info">
            <span style="float: right;" class="gradient-button gradient-btn" onclick="displayCampaignsToAdd()"><sapn class="fa fa-plus"> Assign New </sapn></span> <br/>
            <h5 style="color:cornflowerblue;display:inline-block"> Assigned Campaigns</h5>           
         <div id="group_assigned_campaigns" class="table-responsive"
            style="margin-top:2px;">
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer"><center>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeDGCampaignsDialog()">Close</button></center>
        </div>
        
      </div>
    </div>
  </div>



  <!--Display Device Group asigned player dialog -->
  <div class="modal" id="dg_players">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p id="dg_name" style="color:#4CAF50;text-align: center;font-weight:500;font-size:22px;">Rule</p>
          <input type="hidden" id="device_group_id" />
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p style="color:black;"><b>Players List</b></p>
          <div  id="dg_player_list"class="table-responsive"
            style="margin-top:3px;overflow-x: auto;">
          </div>
         

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <center>
          <button type="button" class="btn btn-success" data-dismiss="modal"  onclick="assignDGselectedPlayers()">Submit</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal"  onclick="closeDeviceGroupPlayers()">Close</button>
          </center>
        </div>
        
      </div>
    </div>
  </div>

 <script>
  csrf_token = "{{ csrf_token }}"
 </script>

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}

</body>
</html>