  {% load static %}

  <script src="{% static 'Mentor/js/bootstrap.min.js' %}"></script>
   <!--<script src="{% static 'Mentor/js/jquery.min.js' %}"></script>-->
   <script src="{% static 'Mentor/js/custom.js' %}"></script>
<script src="{% static 'js/default_busy_loader.js' %}"></script>
  <style type="text/css">/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
}</style>
<div class="footer">
    <div id="footer_id" calss="container" style="background-color:#34363F;">
        <div style="padding:5px;text-align:center;font-size:12px;">
          <span style="color: aliceblue;"><i id="mail_env" class="fa fa-envelope"></i>
       <a id="mail_info" href="mailto:contact@adskite.com" style="text-decoration:none;font-size:12px;">contact@adskite.com |</a>  <i class="fa fa-phone-square"></i> <a id="call_id" href="tel:+91 9900819475" style="font-size:12px;">+91 9900819475</a></span>
                  <br/>
                    <span  style="color: aliceblue;">Copyright (c) 2019 
                      <a id="domine_name" style="color: white;font-size:12px;" href="https://www.signageserv.ai"><b>SignageServ.ai</b></a>
                       , All Rights Reserved.<a id="parent_domin" style="color: white;font-size:12px;" href="https://www.adskite.com"><b> Powered by AdsKite India Pvt Ltd.</b></a></span>

                    </div>
    </div>
  </div>
  <script type="text/javascript">

    var serverName = location.hostname;
    var domine= document.getElementById("domine_name");
    var parent_dom=document.getElementById("parent_domin");
      //local:192.168.0.106 server: www.ihealthtv.com  
     if (serverName == 'www.ihealthtv.com')
    {
    domine.innerHTML="ihealthtv.com";
    domine.href="https://www.ihealthtv.com";

    }//local:192.168.0.106 server: www.sunriosignage.com
    else if (serverName == 'www.sunriosignage.com')
    {
      var footerId=document.getElementById("footer_id");
      footerId.style.backgroundColor="black";
    domine.innerHTML="SunrioSignage.com";
    domine.href="https://www.sunriosignage.com";
    parent_dom.innerHTML="Powered by Sunrio Technologies Pvt Ltd.";
    parent_dom.href="http://sunrio.in";
    
    }else if (serverName =='www.nextgenlearning.in')
    {

  
      var footerId=document.getElementById("footer_id");
      footerId.style.backgroundColor="black";
    domine.innerHTML="NextGenLearning";
    domine.href="https://www.nextgenlearning.in";
   parent_dom.style.display="none";

      document.title="NextGenLearning | Educational Signage";
     document.getElementById('fav_icon').href="{% static 'images/ngl_icon.png' %}";
     domineLogo.src="{% static 'images/ngl_.png' %}";

        var callId=document.getElementById("call_id");
     callId.innerHTML="+91 9900819475 for Demo/Support";

     var mailIdInfo=document.getElementById("mail_info");
     /*mailIdInfo.style.display="none";
     document.getElementById("mail_env").style.display="none";
     parent_dom.style.display="none";
*/
     mailIdInfo.href="mailto:nglassistance@gmail.com";
     mailIdInfo.innerHTML="nglassistance@gmail.com";
    }
    else
    {
     domine.innerHTML="SignageServ.ai";
     domine.href="https://www.signageserv.ai";
   
    } 

  </script>







