  {% load static %}

  <script src="{% static 'Mentor/js/bootstrap.min.js' %}"></script>
   <!--<script src="{% static 'Mentor/js/jquery.min.js' %}"></script>-->
   <script src="{% static 'Mentor/js/custom.js' %}"></script>
<script src="{% static 'js/default_busy_loader.js' %}"></script>
  <style type="text/css">/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
}</style>
<div class="footer">
    <div calss="container" style="background-color:#34363F;">
        <div style="padding:5px;text-align:center;font-size:12px;">
          <span style="color: aliceblue;"><i class="fa fa-envelope"></i> contact@adskite.com</a> | <i class="fa fa-phone-square"></i> +91 9900819475</span
            >
                  <br/>  <span style="color: aliceblue;">Copyright (c) 2019 Green Content, All Rights Reserved. Powered by AdsKite India Pvt. Ltd.</span>

                    </div>
    </div>
  </div>







