{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Green Content</title>
  <meta name="description" content="green content to have your own account to store media content ">
  <meta name="keywords" content="green content, campaigns, groups, video, images, text, url">

  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/bootstrap.min.css' %}">
 
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/imagehover.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/style.css' %}">
 <!--alert style-->
  <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

    <script src="{% static 'js/sweetalert.js' %}"></script>

</head>




<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ffffff;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'listCampaignsWeb' %}" style="color:#5FCF80;">Green<span style="color: grey;">Content</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                 <!--     <li class="nav-item">
              <a class="nav-link" href="{% url 'mycontent_videos' %}">My Content</a>
            </li> -->
           <!--  <li class="nav-item ">
              <a class="nav-link" href="{% url 'my_wishlist' %}">My Whishlist</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listCampaignsWeb' %}" style="text-align: center;padding: 0 20px;">Campaign<p>Management</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'deviceMgmt' %}" style="text-align: center;padding: 0 20px;">Device<p>Management</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gcGroups' %}" style="text-align: center;padding: 0 20px;">GC<p>Groups</p></a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_camp_web' %}">Upload Campaign</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'campaignReports' %}" style="text-align: center;padding: 0 20px;">Campaign<p>Reports</p></a>
            </li> 
            
            <li class="nav-item" >
              <a class="nav-link"  href="{% url 'viewerMetrics' %}" style="text-align: center;padding: 0 20px;">Viewers<p>Metrics</p></a>
            </li>
         
           <!--   <li class="nav-item">
              <a class="nav-link" href="{% url 'web_search' %}">Web Content</a>
            </li> -->
           
            <li class="nav-item active">
              <a class="nav-link"  href="{% url 'logout' %}" style="text-align: center;padding: 0 20px;">{{ request.user.first_name}}<p>(Logout)</p></a>
            </li>

             {% else %}

              <li><a href="{% url 'contact_us' %}" >Contact us</a></li>
              <li class="btn-trial"><a href="{% url 'signin' %}">Sign In</a></li>
          
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->
  <script type="text/javascript">
    function comming_soon(msg) {
      swal({
  title: msg,
  text: "Comming Soon.",
  timer: 2000
});
    }
  </script>
</body>
</html>