{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Green Content</title>
  <meta name="description" content="green content to have your own account to store media content ">
  <meta name="keywords" content="green content, campaigns, groups, video, images, text, url">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/imagehover.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/style.css' %}">
  <script src="{% static 'jquery/2.1.3/jquery.min.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'Mentor/img/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'Mentor/img/favicon.ico' %}" type="image/x-icon">
  <script src="{% static 'login/css/main.js' %}"></script>
</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
             <a class="navbar-brand" href="/accounts/signin/" style="color:#5FCF80;margin: 5px 0 0 10px;"><img src='{% static "Mentor/img/gc_logo1.png" %}' style='cursor:pointer'></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <!--   <li><a href="#feature">Features</a></li>
          <li><a href="#organisations">Organisations</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#pricing">Pricing</a></li> -->
          <li><a href="{% url 'contact_us' %}" >Contact us</a></li>
          <li class="btn-trial"><a href="{% url 'signin' %}">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->



{% if request.user.is_authenticated %}

{% include 'index.html' %}

{% else %}

    {% if result %}
    <p> {{ result }}</p>
    {% endif %}


 <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" action= "/reset_password/{{id}}/{{session}}" method = "post" name="Login_Form" id="loginForm">
          <span class="login100-form-title p-b-20">
            Reset password
          </span>
          <span class="login100-form-title p-b-15">
             {% if error %}
                     <p class="login-box-msg" style="color: indianred;font-weight:bold;text-align: center;">
                       {{ error }}
                    </p>
                    {% else %}
                    <p class="login-box-msg" id="hide_msg">
                      Please enter new password to set
                    </p>
        {% endif %}

                      {% if success %}
          <p class="login-box-msg" style="color: green;font-weight:bold;text-align: center;">
                     {{ success }}
                     <script type="text/javascript">
                      document.getElementById("hide_msg").style.display="none";
                     </script>
                    </p>
                {% endif %}
          </span>

           {% csrf_token %}
                   
               

                  <div class="wrap-input100">
                  <input type="password" class="form-control" name="pass" placeholder="New password" required="" />
                  <span class="fa fa-lock form-control-feedback"></span>
                </div>

                <div class="wrap-input100">
                  <input type="password" class="form-control" name="confirm_pass" placeholder="Confirm password" required=""/>
                  <span class="fa fa-lock form-control-feedback"></span>
                </div>

               

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Create
              </button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

  {% endif %}

{% block footer %} {% include 'footer.html' %} {% endblock %}

</body>

</html>
