{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Green Content</title>
  <meta name="description" content="green content to have your own account to store media content ">
  <meta name="keywords" content="green content, campaigns, groups, video, images, text, url">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/imagehover.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/style.css' %}">

</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Green<span style="color: grey;">Content</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <!--   <li><a href="#feature">Features</a></li>
          <li><a href="#organisations">Organisations</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#pricing">Pricing</a></li> -->
          <li><a href="{% url 'contact_us' %}" >Contact us</a></li>
          <li class="btn-trial"><a href="{% url 'signin' %}">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->



{% if request.user.is_authenticated %}

{% include 'index.html' %}

{% else %}

    {% if result %}
    <p> {{ result }}</p>
    {% endif %}


  <!--Modal box-->
  <div class="model" id="login" role="dialog" style="display: block;">
    <div class="modal-dialog modal-sm">

      <!-- Modal content no 1-->
      <div class="modal-content">
        <div class="modal-header">
         <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title text-center form-title">Create new password</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
                   {% if error %}
                     <p class="login-box-msg" style="color: indianred;font-weight:bold;text-align: center;">
                       {{ error }}
                    </p>
                    {% else %}
                    <p class="login-box-msg" id="hide_msg">
                    	Please enter new password to set
                    </p>
				{% endif %}

                      {% if success %}
          <p class="login-box-msg" style="color: green;font-weight:bold;text-align: center;">
                     {{ success }}
                     <script type="text/javascript">
                     	document.getElementById("hide_msg").style.display="none";
                     </script>
                    </p>
                {% endif %}
            <div class="form-group">
             
           
              <form action= "/reset_password/{{id}}/" method = "post" name="Login_Form" id="loginForm" class="form-signin">
                 {% csrf_token %}
                   
                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input type="password" class="form-control" name="pass" placeholder="New password" required="" autofocus=""/>
                  
                  <!---Alredy exists  ! -->
                  <span class="fa fa-lock form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input type="password" class="form-control" name="confirm_pass" placeholder="Confirm password" required=""/>
                
               
                  <!---Alredy exists  ! -->
                  <span class="fa fa-lock form-control-feedback"></span>
                </div>

                 

                <div class="row">
           <!--        <div class="col-xs-12">
                    <div class="checkbox icheck" style="text-align: right;margin-top: 0px;">
                     
                               <a href="{% url 'forgot_password' %}" style="text-decoration:none;"> Forgot password?</a>
                       

                    </div>
                  </div> -->
                  <div class="col-xs-12">
                    <button type="Submit" class="btn btn-green btn-block btn-flat" name="Submit">Create</button>
              
                  </div>


                </div>


              </form>

            <!--       <div class="checkbox icheck">
                      
                      <label>
                        Don’t have an account?
                      </label>

                      <a href="{% url 'signup' %}" class="txt3">
                         Sign up now
                      </a>
                    </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--/ Modal box-->

  {% endif %}

{% block footer %} {% include 'footer.html' %} {% endblock %}

</body>

</html>
