{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Digital Signage Platform | SignageServ</title>
    <link id="fav_icon" rel="icon" type="image/png" href="{% static 'images/favicon-32.png' %}"/>
  <meta name="description" content="green content to have your own account to store media content ">
  <meta name="keywords" content="green content, campaigns, groups, video, images, text, url">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/imagehover.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Mentor/css/style.css' %}">
  <script src="{% static 'jquery/2.1.3/jquery.min.js' %}"></script>

   <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
  <script src="{% static 'login/css/main.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'Mentor/img/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'Mentor/img/favicon.ico' %}" type="image/x-icon">

</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: lightblue;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
             <a class="navbar-brand" href="/signageserv/" style="color:#BAE7FF;margin: 5px 0 0 10px;"><img id="domine_logo" src='{% static "images/signageserv.png" %}' style='cursor:pointer'></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <!--   <li><a href="#feature">Features</a></li>
          <li><a href="#organisations">Organisations</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#pricing">Pricing</a></li> -->
          <li><a href="{% url 'contact_us' %}" >Contact us</a></li>
          <li class="btn-trial"><a href="{% url 'signin' %}">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->


{% if request.user.is_authenticated %}

{% include 'index.html' %}

{% else %}

    {% if result %}
    <p> {{ result }}</p>
    {% endif %}

    <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" action= "{% url 'signup' %}" method = "post" name="Login_Form" id="loginForm" >
          <span style="padding-top: 20px;" class="login100-form-title p-b-20">
            Register
          </span>
          <span class="login100-form-title p-b-15">
               {% if error %}
                       <p class="login-box-msg" style="color: indianred;font-weight:bold;text-align: center;">
                       {{ error }}
                      </p>
                      {% else %}
                       <p class="login-box-msg">Sign up to create new account</p>
                      {% endif %}
          </span>

           {% csrf_token %}
                   
                      <div class="wrap-input100">
                              <input type="text" name="fname" id="first_name" class="form-control" placeholder="First Name" required="">
                               <span class="fa fa-user form-control-feedback"></span>
                    </div>
                
                       <div class="wrap-input100">
                      <input type="text" name="lname" id="last_name" class="form-control" placeholder="Last Name"  required="">
                       <span class="fa fa-user form-control-feedback"></span>
                    </div>
                

                       <div class="wrap-input100">
                      <input type="email" name="email" id="email" class="form-control" placeholder="Email Address"  required="">
                       <span class="fa fa-envelope form-control-feedback"></span>
                    </div>

            
                      <div class="wrap-input100">
                      <input type="password" name="pass" id="password" class="form-control" placeholder="Password"  required="">
                       <span class="fa fa-lock form-control-feedback"></span>
                    </div>
                
                      <div class="wrap-input100">
                      <input type="password" name="confirm_pass" id="password_confirmation" class="form-control" placeholder="Confirm Password"  required="">
                       <span class="fa fa-lock form-control-feedback"></span>
                    </div>

                   <input type="hidden" name="next" value="{{ request.GET.next }}"/>


          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Sign Up
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  {% endif %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
</body>
<script type="text/javascript">

    var serverName = location.hostname;
    var domineLogo= document.getElementById('domine_logo');

     //192.168.0.106  www.ihealthtv.com
    if (serverName == 'www.ihealthtv.com')
    {
     document.title="Hospital Health TV | iHealthTV";
     document.getElementById('fav_icon').href="{% static 'images/favicon.png' %}";
     domineLogo.src="{% static 'images/ihealth_tv.png' %}";
    }//192.168.0.106  www.sunriosignage.com
    else if (serverName == 'www.sunriosignage.com')
    {
      document.title="Smart Digital Signage | SunrioSignage";
     document.getElementById('fav_icon').href="{% static 'images/fav_sunriosignage.png' %}";
     domineLogo.src="{% static 'images/signrio_logo.png' %}";
    }else if (serverName == 'www.nextgenlearning.in')
    {
      document.title="NextGenLearning | Educational Signage";
     document.getElementById('fav_icon').href="{% static 'images/ngl_icon.png' %}";
     domineLogo.src="{% static 'images/ngl_.png' %}";
    }
    else
    { 
     domineLogo.src="{% static 'images/signageserv.png' %}";
    } 
</script>
</html>
