{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="description" content="green content to have your own display iot device based contextual ad rules">
  <meta name="keywords" content="green content, rules,contextual ads,iot contextual ad tools, contextual ad rules, ad rules, male ads,female ads,family ads, text, url">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		body
		{
			font-family: Arial,Helvetica,sans-serif;
		}
	</style>
</head>

{% block header %} {% include 'header.html' %} {% endblock %}


<body>

</body>
</html>
